

// START

.#{$bf-css-prefix}-radioactive-enterprise:before {content: $bf-var-radioactive-enterprise;}
.#{$bf-css-prefix}-apple:before {content: $bf-var-apple;}
.#{$bf-css-prefix}-walmart:before {content: $bf-var-walmart;}
.#{$bf-css-prefix}-google:before {content: $bf-var-google;}
.#{$bf-css-prefix}-samsung:before {content: $bf-var-samsung;}
.#{$bf-css-prefix}-generalelectric:before {content: $bf-var-generalelectric;}
.#{$bf-css-prefix}-microsoft:before {content: $bf-var-microsoft;}
.#{$bf-css-prefix}-yahoo:before {content: $bf-var-yahoo;}
.#{$bf-css-prefix}-paypal:before {content: $bf-var-paypal;}
.#{$bf-css-prefix}-google-wallet:before {content: $bf-var-google-wallet;}

.#{$bf-css-prefix}-ferrari:before {content: $bf-var-ferrari;}
.#{$bf-css-prefix}-bmw:before {content: $bf-var-bmw;}
.#{$bf-css-prefix}-hondamobiles:before {content: $bf-var-hondamobiles;}
.#{$bf-css-prefix}-tesla:before {content: $bf-var-tesla;}
.#{$bf-css-prefix}-lamborghini:before {content: $bf-var-lamborghini;}

.#{$bf-css-prefix}-volkswagen:before {content: $bf-var-volkswagen;}
.#{$bf-css-prefix}-toyota:before {content: $bf-var-toyota;}
.#{$bf-css-prefix}-ford:before {content: $bf-var-ford;}
.#{$bf-css-prefix}-uber:before {content: $bf-var-uber;}

.#{$bf-css-prefix}-systems:before {content: $bf-var-systems;}
.#{$bf-css-prefix}-directional:before {content: $bf-var-directional;}
.#{$bf-css-prefix}-capitalizedsphere:before {content: $bf-var-capitalizedsphere;}
.#{$bf-css-prefix}-betterfonts:before {content: $bf-var-betterfonts;}
.#{$bf-css-prefix}-asianindusrecords:before {content: $bf-var-asianindusrecords;}
.#{$bf-css-prefix}-xoftime:before {content: $bf-var-xoftime;}
.#{$bf-css-prefix}-dipesious:before {content: $bf-var-dipesious;}
.#{$bf-css-prefix}-codefreeweb:before {content: $bf-var-codefreeweb;}

.#{$bf-css-prefix}-joomla:before {content: $bf-var-joomla;}
.#{$bf-css-prefix}-wordpress:before {content: $bf-var-wordpress;}
.#{$bf-css-prefix}-jsfiddle:before {content: $bf-var-jsfiddle;}
.#{$bf-css-prefix}-drupal:before {content: $bf-var-drupal;}
.#{$bf-css-prefix}-google-drive:before {content: $bf-var-google-drive;}
.#{$bf-css-prefix}-dropbox:before {content: $bf-var-dropbox;}

.#{$bf-css-prefix}-eercast:before {content: $bf-var-eercast;}
.#{$bf-css-prefix}-obs:before {content: $bf-var-obs;}
.#{$bf-css-prefix}-openid:before {content: $bf-var-openid;}
.#{$bf-css-prefix}-get-pocket:before {content: $bf-var-get-pocket;}

.#{$bf-css-prefix}-amazon:before {content: $bf-var-amazon;}
.#{$bf-css-prefix}-ebay:before {content: $bf-var-ebay;}
.#{$bf-css-prefix}-flipkart:before {content: $bf-var-flipkart;}
.#{$bf-css-prefix}-opencart:before {content: $bf-var-opencart;}

.#{$bf-css-prefix}-foursquare:before {content: $bf-var-foursquare;}
.#{$bf-css-prefix}-google-play:before {content: $bf-var-google-play;}
.#{$bf-css-prefix}-google-play-music:before {content: $bf-var-google-play-music;}
.#{$bf-css-prefix}-google-play-books:before {content: $bf-var-google-play-books;}
.#{$bf-css-prefix}-google-adsense:before {content: $bf-var-google-adsense;}
.#{$bf-css-prefix}-google-maps:before {content: $bf-var-google-maps;}
.#{$bf-css-prefix}-google-keep:before {content: $bf-var-google-keep;}
.#{$bf-css-prefix}-avengers:before {content: $bf-var-avengers;}
.#{$bf-css-prefix}-batman:before {content: $bf-var-batman;}
.#{$bf-css-prefix}-spiderman:before {content: $bf-var-spiderman;}
.#{$bf-css-prefix}-transformers:before {content: $bf-var-transformers;}
.#{$bf-css-prefix}-mixcloud:before {content: $bf-var-mixcloud;}
.#{$bf-css-prefix}-modx:before {content: $bf-var-modx;}
.#{$bf-css-prefix}-angellist:before {content: $bf-var-angellist;}
.#{$bf-css-prefix}-slack:before {content: $bf-var-slack;}
.#{$bf-css-prefix}-gitlab:before {content: $bf-var-gitlab;}
.#{$bf-css-prefix}-slideshare:before {content: $bf-var-slideshare;}

.#{$bf-css-prefix}-telegram-square:before {content: $bf-var-telegram-square;}
.#{$bf-css-prefix}-steam:before {content: $bf-var-steam;}
.#{$bf-css-prefix}-steam-square:before {content: $bf-var-steam-square;}
.#{$bf-css-prefix}-tencent-weibo:before {content: $bf-var-tencent-weibo;}
.#{$bf-css-prefix}-tencent-weibo-square:before {content: $bf-var-tencent-weibo-square;}
.#{$bf-css-prefix}-xing:before {content: $bf-var-xing;}
.#{$bf-css-prefix}-xing-square:before {content: $bf-var-xing-square;}
.#{$bf-css-prefix}-viadeo:before {content: $bf-var-viadeo;}
.#{$bf-css-prefix}-viadeo-square:before {content: $bf-var-viadeo-square;}
.#{$bf-css-prefix}-twitch:before {content: $bf-var-twitch;}
.#{$bf-css-prefix}-twitch-square:before {content: $bf-var-twitch-square;}
.#{$bf-css-prefix}-wikipedia:before {content: $bf-var-wikipedia;}
.#{$bf-css-prefix}-wikipedia-square:before {content: $bf-var-wikipedia-square;}
.#{$bf-css-prefix}-vimeo:before {content: $bf-var-vimeo;}
.#{$bf-css-prefix}-vimeo-square:before {content: $bf-var-vimeo-square;}
.#{$bf-css-prefix}-renren:before {content: $bf-var-renren;}
.#{$bf-css-prefix}-renren-square:before {content: $bf-var-renren-square;}
.#{$bf-css-prefix}-ravelry:before {content: $bf-var-ravelry;}
.#{$bf-css-prefix}-ravelry-square:before {content: $bf-var-ravelry-square;}
.#{$bf-css-prefix}-weibo:before {content: $bf-var-weibo;}
.#{$bf-css-prefix}-weibo-square:before {content: $bf-var-weibo-square;}
.#{$bf-css-prefix}-lastfm:before {content: $bf-var-lastfm;}
.#{$bf-css-prefix}-lastfm-square:before {content: $bf-var-lastfm-square;}
.#{$bf-css-prefix}-houzz:before {content: $bf-var-houzz;}
.#{$bf-css-prefix}-houzz-square:before {content: $bf-var-houzz-square;}
.#{$bf-css-prefix}-medium:before {content: $bf-var-medium;}
.#{$bf-css-prefix}-medium-square:before {content: $bf-var-medium-square;}
.#{$bf-css-prefix}-qq:before {content: $bf-var-qq;}
.#{$bf-css-prefix}-qq-square:before {content: $bf-var-qq-square;}

.#{$bf-css-prefix}-500px:before {content: $bf-var-500px;}
.#{$bf-css-prefix}-500px-square:before {content: $bf-var-500px-square;}
.#{$bf-css-prefix}-meetup:before {content: $bf-var-meetup;}
.#{$bf-css-prefix}-facebook:before {content: $bf-var-facebook;}
.#{$bf-css-prefix}-facebook-official:before {content: $bf-var-facebook-official;}
.#{$bf-css-prefix}-facebook-square:before {content: $bf-var-facebook-square;}
.#{$bf-css-prefix}-glide:before {content: $bf-var-glide;}

.#{$bf-css-prefix}-glide-square:before {content: $bf-var-glide-square;}
.#{$bf-css-prefix}-twitter:before {content: $bf-var-twitter;}
.#{$bf-css-prefix}-twitter-square:before {content: $bf-var-twitter-square;}
.#{$bf-css-prefix}-instagram:before {content: $bf-var-instagram;}
.#{$bf-css-prefix}-youtube-official:before {content: $bf-var-youtube-official;}
.#{$bf-css-prefix}-youtube:before {content: $bf-var-youtube;}
.#{$bf-css-prefix}-youtube-square:before {content: $bf-var-youtube-square;}
.#{$bf-css-prefix}-youtube-play:before {content: $bf-var-youtube-play;}
.#{$bf-css-prefix}-youtube-play-o:before {content: $bf-var-youtube-play-o;}
.#{$bf-css-prefix}-fiverr:before {content: $bf-var-fiverr;}
.#{$bf-css-prefix}-fiverr-square:before {content: $bf-var-fiverr-square;}
.#{$bf-css-prefix}-wechat:before {content: $bf-var-wechat;}
.#{$bf-css-prefix}-wechat-square:before {content: $bf-var-wechat-square;}
.#{$bf-css-prefix}-whatsapp:before {content: $bf-var-whatsapp;}
.#{$bf-css-prefix}-whatsapp-square:before {content: $bf-var-whatsapp-square;}
.#{$bf-css-prefix}-hike:before {content: $bf-var-hike;}
.#{$bf-css-prefix}-hike-square:before {content: $bf-var-hike-square;}
.#{$bf-css-prefix}-tumblr:before {content: $bf-var-tumblr;}
.#{$bf-css-prefix}-tumblr-square:before {content: $bf-var-tumblr-square;}
.#{$bf-css-prefix}-google-plus:before {content: $bf-var-google-plus;}
.#{$bf-css-prefix}-google-plus-official:before {content: $bf-var-google-plus-official;}
.#{$bf-css-prefix}-google-plus-square:before {content: $bf-var-google-plus-square;}

.#{$bf-css-prefix}-google-plus-square:before {content: $bf-var-google-plus-square;}
.#{$bf-css-prefix}-pinterest-official:before {content: $bf-var-pinterest-official;}
.#{$bf-css-prefix}-pinterest:before {content: $bf-var-pinterest;}
.#{$bf-css-prefix}-pinterest-square:before {content: $bf-var-pinterest-square;}
.#{$bf-css-prefix}-scribd:before {content: $bf-var-scribd;}
.#{$bf-css-prefix}-scribd-square:before {content: $bf-var-scribd-square;}
.#{$bf-css-prefix}-git:before {content: $bf-var-git;}
.#{$bf-css-prefix}-git-square:before {content: $bf-var-git-square;}
.#{$bf-css-prefix}-github-official:before {content: $bf-var-github-official;}
.#{$bf-css-prefix}-github:before {content: $bf-var-github;}
.#{$bf-css-prefix}-github-square:before {content: $bf-var-github-square;}

.#{$bf-css-prefix}-vevo:before {content: $bf-var-vevo;}
.#{$bf-css-prefix}-vevo-square:before {content: $bf-var-vevo-square;}
.#{$bf-css-prefix}-behance:before {content: $bf-var-behance;}

.#{$bf-css-prefix}-behance-square:before {content: $bf-var-behance-square;}
.#{$bf-css-prefix}-soundcloud:before {content: $bf-var-soundcloud;}
.#{$bf-css-prefix}-soundcloud-square:before {content: $bf-var-soundcloud-square;}
.#{$bf-css-prefix}-spotify:before {content: $bf-var-spotify;}
.#{$bf-css-prefix}-spotify-square:before {content: $bf-var-spotify-square;}
.#{$bf-css-prefix}-quora:before {content: $bf-var-quora;}
.#{$bf-css-prefix}-quora-square:before {content: $bf-var-quora-square;}
.#{$bf-css-prefix}-skype:before {content: $bf-var-skype;}
.#{$bf-css-prefix}-skype-square:before {content: $bf-var-skype-square;}
.#{$bf-css-prefix}-udemy:before {content: $bf-var-udemy;}
.#{$bf-css-prefix}-rss:before {content: $bf-var-rss;}
.#{$bf-css-prefix}-rss-square:before {content: $bf-var-rss-square;}
.#{$bf-css-prefix}-vk:before {content: $bf-var-vk;}
.#{$bf-css-prefix}-vk-square:before {content: $bf-var-vk-square;}
.#{$bf-css-prefix}-dribbble:before {content: $bf-var-dribbble;}
.#{$bf-css-prefix}-dribbble-square:before {content: $bf-var-dribbble-square;}
.#{$bf-css-prefix}-blogger:before {content: $bf-var-blogger;}
.#{$bf-css-prefix}-blogger-square:before {content: $bf-var-blogger-square;}
.#{$bf-css-prefix}-snapchat:before {content: $bf-var-snapchat;}
.#{$bf-css-prefix}-snapchat-official:before {content: $bf-var-snapchat-official;}
.#{$bf-css-prefix}-snapchat-square:before {content: $bf-var-snapchat-square;}
.#{$bf-css-prefix}-stumbleupon:before {content: $bf-var-stumbleupon;}
.#{$bf-css-prefix}-stumbleupon-official:before {content: $bf-var-stumbleupon-official;}
.#{$bf-css-prefix}-stumbleupon-square:before {content: $bf-var-stumbleupon-square;}
.#{$bf-css-prefix}-stack-overflow:before {content: $bf-var-stack-overflow;}
.#{$bf-css-prefix}-stack-overflow-square:before {content: $bf-var-stack-overflow-square;}
.#{$bf-css-prefix}-stack-exchange:before {content: $bf-var-stack-exchange;}
.#{$bf-css-prefix}-stack-exchange-square:before {content: $bf-var-stack-exchange-square;}
.#{$bf-css-prefix}-patreon:before {content: $bf-var-patreon;}
.#{$bf-css-prefix}-patreon-square:before {content: $bf-var-patreon-square;}
.#{$bf-css-prefix}-bandcamp:before {content: $bf-var-bandcamp;}
.#{$bf-css-prefix}-bandcamp-square:before {content: $bf-var-bandcamp-square;}
.#{$bf-css-prefix}-bitbucket:before {content: $bf-var-bitbucket;}
.#{$bf-css-prefix}-bitbucket-square:before {content: $bf-var-bitbucket-square;}
.#{$bf-css-prefix}-codepen:before {content: $bf-var-codepen;}
.#{$bf-css-prefix}-codepen-square:before {content: $bf-var-codepen-square;}
.#{$bf-css-prefix}-reddit:before {content: $bf-var-reddit;}
.#{$bf-css-prefix}-reddit-official:before {content: $bf-var-reddit-official;}
.#{$bf-css-prefix}-reddit-square:before {content: $bf-var-reddit-square;}
.#{$bf-css-prefix}-linkedin:before {content: $bf-var-linkedin;}
.#{$bf-css-prefix}-linkedin-square:before {content: $bf-var-linkedin-square;}
.#{$bf-css-prefix}-deviantart:before {content: $bf-var-deviantart;}
.#{$bf-css-prefix}-deviantart-square:before {content: $bf-var-deviantart-square;}
.#{$bf-css-prefix}-flickr:before {content: $bf-var-flickr;}
.#{$bf-css-prefix}-google-duo:before {content: $bf-var-google-duo;}
.#{$bf-css-prefix}-google-duo-square:before {content: $bf-var-google-duo-square;}
.#{$bf-css-prefix}-google-allo:before {content: $bf-var-google-allo;}
.#{$bf-css-prefix}-google-allo-square:before {content: $bf-var-google-allo-square;}
.#{$bf-css-prefix}-odnoklassniki:before {content: $bf-var-odnoklassniki;}
.#{$bf-css-prefix}-odnoklassniki-square:before {content: $bf-var-odnoklassniki-square;}

.#{$bf-css-prefix}-google-chrome:before {content: $bf-var-google-chrome;}
.#{$bf-css-prefix}-microsoft-edge:before {content: $bf-var-microsoft-edge;}
.#{$bf-css-prefix}-mozilla-firefox:before {content: $bf-var-mozilla-firefox;}
.#{$bf-css-prefix}-internet-explorer:before {content: $bf-var-internet-explorer;}
.#{$bf-css-prefix}-maxthon:before {content: $bf-var-maxthon;}
.#{$bf-css-prefix}-opera:before {content: $bf-var-opera;}
.#{$bf-css-prefix}-safari:before {content: $bf-var-safari;}
.#{$bf-css-prefix}-tor:before {content: $bf-var-tor;}
.#{$bf-css-prefix}-torch:before {content: $bf-var-torch;}
.#{$bf-css-prefix}-uc:before {content: $bf-var-uc;}

.#{$bf-css-prefix}-html:before {content: $bf-var-html;}
.#{$bf-css-prefix}-css:before {content: $bf-var-css;}
.#{$bf-css-prefix}-javascript:before {content: $bf-var-javascript;}
.#{$bf-css-prefix}-jquery:before {content: $bf-var-jquery;}
.#{$bf-css-prefix}-php:before {content: $bf-var-php;}
.#{$bf-css-prefix}-python:before {content: $bf-var-python;}
.#{$bf-css-prefix}-java:before {content: $bf-var-java;}
.#{$bf-css-prefix}-swift:before {content: $bf-var-swift;}

.#{$bf-css-prefix}-android:before {content: $bf-var-android;}
.#{$bf-css-prefix}-windows:before {content: $bf-var-windows;}
.#{$bf-css-prefix}-linux:before {content: $bf-var-linux;}
.#{$bf-css-prefix}-ios:before {content: $bf-var-ios;}
.#{$bf-css-prefix}-mac-os:before {content: $bf-var-mac-os;}

.#{$bf-css-prefix}-visual-studio:before {content: $bf-var-visual-studio;}
.#{$bf-css-prefix}-android-studio:before {content: $bf-var-android-studio;}
.#{$bf-css-prefix}-xcode:before {content: $bf-var-xcode;}
.#{$bf-css-prefix}-unity-engine:before {content: $bf-var-unity-engine;}
.#{$bf-css-prefix}-unreal-engine:before {content: $bf-var-unreal-engine;}

.#{$bf-css-prefix}-adobe-aftereffects:before {content: $bf-var-adobe-aftereffects;}
.#{$bf-css-prefix}-adobe-audition:before {content: $bf-var-adobe-audition;}
.#{$bf-css-prefix}-adobe-animate:before {content: $bf-var-adobe-animate;}
.#{$bf-css-prefix}-adobe-illustrator:before {content: $bf-var-adobe-illustrator;}
.#{$bf-css-prefix}-adobe-story:before {content: $bf-var-adobe-story;}
.#{$bf-css-prefix}-adobe-indesign:before {content: $bf-var-adobe-indesign;}
.#{$bf-css-prefix}-adobe-photoshop:before {content: $bf-var-adobe-photoshop;}
.#{$bf-css-prefix}-adobe-premierepro:before {content: $bf-var-adobe-premierepro;}
.#{$bf-css-prefix}-finalcut:before {content: $bf-var-finalcut;}


.#{$bf-css-prefix}-file-pdf:before {content: $bf-var-file-pdf;}
.#{$bf-css-prefix}-file-word:before {content: $bf-var-file-word;}
.#{$bf-css-prefix}-file-excel:before {content: $bf-var-file-excel;}
.#{$bf-css-prefix}-file-powerpoint:before {content: $bf-var-file-powerpoint;}
.#{$bf-css-prefix}-file-image:before {content: $bf-var-file-image;}
.#{$bf-css-prefix}-file-zip:before {content: $bf-var-file-zip;}
.#{$bf-css-prefix}-file-video:before {content: $bf-var-file-video;}
.#{$bf-css-prefix}-file-code:before {content: $bf-var-file-code;}

.#{$bf-css-prefix}-file-o:before {content: $bf-var-file-o;}
.#{$bf-css-prefix}-file:before {content: $bf-var-file;}
.#{$bf-css-prefix}-file-text-o:before {content: $bf-var-file-text-o;}
.#{$bf-css-prefix}-file-text:before {content: $bf-var-file-text;}
.#{$bf-css-prefix}-file-java:before {content: $bf-var-file-java;}

.#{$bf-css-prefix}-file-indesign:before {content: $bf-var-file-indesign;}
.#{$bf-css-prefix}-file-photoshop:before {content: $bf-var-file-photoshop;}
.#{$bf-css-prefix}-file-illustrator:before {content: $bf-var-file-illustrator;}
.#{$bf-css-prefix}-file-aftereffects:before {content: $bf-var-file-aftereffects;}
.#{$bf-css-prefix}-file-premierepro:before {content: $bf-var-file-premierepro;}


.#{$bf-css-prefix}-paycard-visa:before {content: $bf-var-paycard-visa;}
.#{$bf-css-prefix}-paycard-western-union:before {content: $bf-var-paycard-western-union;}
.#{$bf-css-prefix}-paycard-mastercard:before {content: $bf-var-paycard-mastercard;}
.#{$bf-css-prefix}-paycard-discover:before {content: $bf-var-paycard-discover;}
.#{$bf-css-prefix}-paycard-amex:before {content: $bf-var-paycard-amex;}
.#{$bf-css-prefix}-paycard-paypal:before {content: $bf-var-paycard-paypal;}
.#{$bf-css-prefix}-paycard-stripe:before {content: $bf-var-paycard-stripe;}

.#{$bf-css-prefix}-paycard-jcb:before {content: $bf-var-paycard-jcb;}
.#{$bf-css-prefix}-paycard-diners-club:before {content: $bf-var-paycard-diners-club;}
.#{$bf-css-prefix}-paycard-google-wallet:before {content: $bf-var-paycard-google-wallet;}
.#{$bf-css-prefix}-paycard-bitcoin:before {content: $bf-var-paycard-bitcoin;}
.#{$bf-css-prefix}-paycard-cash:before {content: $bf-var-paycard-cash;}
.#{$bf-css-prefix}-paycard-credit-card-o:before {content: $bf-var-paycard-credit-card-o;}
.#{$bf-css-prefix}-paycard-credit-card:before {content: $bf-var-paycard-credit-card;}

.#{$bf-css-prefix}-eur:before {content: $bf-var-eur;}
.#{$bf-css-prefix}-gbp:before {content: $bf-var-gbp;}
.#{$bf-css-prefix}-usd:before {content: $bf-var-usd;}
.#{$bf-css-prefix}-inr:before {content: $bf-var-inr;}
.#{$bf-css-prefix}-jpy:before {content: $bf-var-jpy;}
.#{$bf-css-prefix}-rub:before {content: $bf-var-rub;}
.#{$bf-css-prefix}-krw:before {content: $bf-var-krw;}
.#{$bf-css-prefix}-btc:before {content: $bf-var-btc;}
.#{$bf-css-prefix}-try:before {content: $bf-var-try;}
.#{$bf-css-prefix}-ils:before {content: $bf-var-ils;}
.#{$bf-css-prefix}-vnd:before {content: $bf-var-vnd;}
.#{$bf-css-prefix}-yuan:before {content: $bf-var-yuan;}
.#{$bf-css-prefix}-rs:before {content: $bf-var-rs;}
.#{$bf-css-prefix}-thb:before {content: $bf-var-thb;}

.#{$bf-css-prefix}-chevron-left:before {content: $bf-var-chevron-left;}
.#{$bf-css-prefix}-chevron-right:before {content: $bf-var-chevron-right;}
.#{$bf-css-prefix}-chevron-up:before {content: $bf-var-chevron-up;}
.#{$bf-css-prefix}-chevron-down:before {content: $bf-var-chevron-down;}
.#{$bf-css-prefix}-chevron-left-circle:before {content: $bf-var-chevron-left-circle;}
.#{$bf-css-prefix}-chevron-right-circle:before {content: $bf-var-chevron-right-circle;}
.#{$bf-css-prefix}-chevron-up-circle:before {content: $bf-var-chevron-up-circle;}
.#{$bf-css-prefix}-chevron-down-circle:before {content: $bf-var-chevron-down-circle;}
.#{$bf-css-prefix}-arrow-left:before {content: $bf-var-arrow-left;}
.#{$bf-css-prefix}-arrow-right:before {content: $bf-var-arrow-right;}
.#{$bf-css-prefix}-arrow-up:before {content: $bf-var-arrow-up;}
.#{$bf-css-prefix}-arrow-down:before {content: $bf-var-arrow-down;}
.#{$bf-css-prefix}-arrow-left-circle:before {content: $bf-var-arrow-left-circle;}
.#{$bf-css-prefix}-arrow-right-circle:before {content: $bf-var-arrow-right-circle;}
.#{$bf-css-prefix}-arrow-up-circle:before {content: $bf-var-arrow-up-circle;}
.#{$bf-css-prefix}-arrow-down-circle:before {content: $bf-var-arrow-right-circle;}
.#{$bf-css-prefix}-arrow-right-circle-o:before {content: $bf-var-arrow-right-circle-o;}
.#{$bf-css-prefix}-arrow-left-circle-o:before {content: $bf-var-arrow-left-circle-o;}

.#{$bf-css-prefix}-caret-down:before {content: $bf-var-caret-down;}
.#{$bf-css-prefix}-caret-up:before {content: $bf-var-caret-up;}
.#{$bf-css-prefix}-caret-left:before {content: $bf-var-caret-left;}
.#{$bf-css-prefix}-caret-right:before {content: $bf-var-caret-right;}
.#{$bf-css-prefix}-caret-sort:before {content: $bf-var-caret-sort;}
.#{$bf-css-prefix}-caret-left-square:before {content: $bf-var-caret-left-square;}
.#{$bf-css-prefix}-caret-down-square:before {content: $bf-var-caret-down-square;}
.#{$bf-css-prefix}-caret-up-square:before {content: $bf-var-caret-up-square;}
.#{$bf-css-prefix}-caret-right-square:before {content: $bf-var-caret-right-square;}

.#{$bf-css-prefix}-long-arrow-down:before {content: $bf-var-long-arrow-down;}
.#{$bf-css-prefix}-long-arrow-up:before {content: $bf-var-long-arrow-up;}
.#{$bf-css-prefix}-long-arrow-left:before {content: $bf-var-long-arrow-left;}
.#{$bf-css-prefix}-long-arrow-right:before {content: $bf-var-long-arrow-right;}
.#{$bf-css-prefix}-long-arrow-v:before {content: $bf-var-long-arrow-v;}
.#{$bf-css-prefix}-long-arrow-h:before {content: $bf-var-long-arrow-h;}

.#{$bf-css-prefix}-long-arrow-exchange:before {content: $bf-var-long-arrow-exchange;}

.#{$bf-css-prefix}-level-up:before {content: $bf-var-level-up;}
.#{$bf-css-prefix}-level-down:before {content: $bf-var-level-down;}
.#{$bf-css-prefix}-arrows:before {content: $bf-var-arrows;}
.#{$bf-css-prefix}-arrows-alt:before {content: $bf-var-arrows-alt;}
.#{$bf-css-prefix}-angle-down:before {content: $bf-var-angle-down;}
.#{$bf-css-prefix}-angle-up:before {content: $bf-var-angle-up;}
.#{$bf-css-prefix}-angle-left:before {content: $bf-var-angle-left;}
.#{$bf-css-prefix}-angle-right:before {content: $bf-var-angle-right;}

.#{$bf-css-prefix}-angle-double-left:before {content: $bf-var-angle-double-left;}
.#{$bf-css-prefix}-angle-double-right:before {content: $bf-var-angle-double-right;}
.#{$bf-css-prefix}-angle-double-top:before {content: $bf-var-angle-double-top;}
.#{$bf-css-prefix}-angle-double-bottom:before {content: $bf-var-angle-double-bottom;}
.#{$bf-css-prefix}-map-signs:before {content: $bf-var-map-signs;}

.#{$bf-css-prefix}-bar-graph:before {content: $bf-var-bar-graph;}
.#{$bf-css-prefix}-area-graph:before {content: $bf-var-area-graph;}
.#{$bf-css-prefix}-line-graph:before {content: $bf-var-line-graph;}
.#{$bf-css-prefix}-pie-chart:before {content: $bf-var-pie-chart;}
.#{$bf-css-prefix}-industry:before {content: $bf-var-industry;}
.#{$bf-css-prefix}-table:before {content: $bf-var-table;}
.#{$bf-css-prefix}-sliders:before {content: $bf-var-sliders;}

.#{$bf-css-prefix}-pied-piper:before {content: $bf-var-pied-piper;}
.#{$bf-css-prefix}-commenting-o:before {content: $bf-var-commenting-o;}
.#{$bf-css-prefix}-commenting:before {content: $bf-var-commenting;}
.#{$bf-css-prefix}-comment-o:before {content: $bf-var-comment-o;}
.#{$bf-css-prefix}-comments-o:before {content: $bf-var-comments-o;}
.#{$bf-css-prefix}-comments:before {content: $bf-var-comments;}
.#{$bf-css-prefix}-birthday-cake:before {content: $bf-var-birthday-cake;}
.#{$bf-css-prefix}-magic:before {content: $bf-var-magic;}
.#{$bf-css-prefix}-shield-o:before {content: $bf-var-shield-o;}
.#{$bf-css-prefix}-shield:before {content: $bf-var-shield;}
.#{$bf-css-prefix}-map-pin:before {content: $bf-var-map-pin;}
.#{$bf-css-prefix}-newspaper:before {content: $bf-var-newspaper;}
.#{$bf-css-prefix}-beer:before {content: $bf-var-beer;}
.#{$bf-css-prefix}-shower:before {content: $bf-var-shower;}
.#{$bf-css-prefix}-bath:before {content: $bf-var-bath;}
.#{$bf-css-prefix}-coffee:before {content: $bf-var-coffee;}
.#{$bf-css-prefix}-cutlery:before {content: $bf-var-cutlery;}
.#{$bf-css-prefix}-glass:before {content: $bf-var-glass;}
.#{$bf-css-prefix}-music:before {content: $bf-var-music;}
.#{$bf-css-prefix}-building-o:before {content: $bf-var-building-o;}
.#{$bf-css-prefix}-building:before {content: $bf-var-building;}
.#{$bf-css-prefix}-tachometer:before {content: $bf-var-tachometer;}
.#{$bf-css-prefix}-bed:before {content: $bf-var-bed;}
.#{$bf-css-prefix}-code-fork:before {content: $bf-var-code-fork;}
.#{$bf-css-prefix}-camera-retro:before {content: $bf-var-camera-retro;}
.#{$bf-css-prefix}-screen-cast:before {content: $bf-var-screen-cast;}

.#{$bf-css-prefix}-flag-o:before {content: $bf-var-flag-o;}
.#{$bf-css-prefix}-flag-race:before {content: $bf-var-flag-race;}
.#{$bf-css-prefix}-flag:before {content: $bf-var-flag;}
.#{$bf-css-prefix}-marathas:before {content: $bf-var-marathas;}
.#{$bf-css-prefix}-united-nations:before {content: $bf-var-united-nations;}

.#{$bf-css-prefix}-smile:before {content: $bf-var-smile;}
.#{$bf-css-prefix}-frown:before {content: $bf-var-frown;}
.#{$bf-css-prefix}-meh:before {content: $bf-var-meh;}
.#{$bf-css-prefix}-wow:before {content: $bf-var-wow;}
.#{$bf-css-prefix}-happiness:before {content: $bf-var-happiness;}
.#{$bf-css-prefix}-smile-o:before {content: $bf-var-smile-o;}
.#{$bf-css-prefix}-frown-o:before {content: $bf-var-frown-o;}
.#{$bf-css-prefix}-meh-o:before {content: $bf-var-meh-o;}
.#{$bf-css-prefix}-wow-o:before {content: $bf-var-wow-o;}

.#{$bf-css-prefix}-hand-right-o:before {content: $bf-var-hand-right-o;}
.#{$bf-css-prefix}-hand-left-o:before {content: $bf-var-hand-left-o;}
.#{$bf-css-prefix}-hand-up-o:before {content: $bf-var-hand-up-o;}
.#{$bf-css-prefix}-hand-down-o:before {content: $bf-var-hand-down-o;}

.#{$bf-css-prefix}-hand-rock:before {content: $bf-var-hand-rock;}
.#{$bf-css-prefix}-hand-paper:before {content: $bf-var-hand-paper;}
.#{$bf-css-prefix}-hand-scissors:before {content: $bf-var-hand-scissors;}
.#{$bf-css-prefix}-hand-lizard:before {content: $bf-var-hand-lizard;}
.#{$bf-css-prefix}-hand-spock:before {content: $bf-var-hand-spock;}
.#{$bf-css-prefix}-hand-pointer:before {content: $bf-var-hand-pointer;}
.#{$bf-css-prefix}-hand-peace:before {content: $bf-var-hand-peace;}
.#{$bf-css-prefix}-hand-victory:before {content: $bf-var-hand-victory;}
.#{$bf-css-prefix}-hand-shake:before {content: $bf-var-hand-shake;}
.#{$bf-css-prefix}-thumbs-up-o:before {content: $bf-var-thumbs-up-o;}
.#{$bf-css-prefix}-thumbs-down-o:before {content: $bf-var-thumbs-down-o;}
.#{$bf-css-prefix}-thumbs-up:before {content: $bf-var-thumbs-up;}
.#{$bf-css-prefix}-thumbs-down:before {content: $bf-var-thumbs-down;}
.#{$bf-css-prefix}-hand-rise:before {content: $bf-var-hand-rise;}

.#{$bf-css-prefix}-square:before {content: $bf-var-square;}
.#{$bf-css-prefix}-square-o:before {content: $bf-var-square-o;}
.#{$bf-css-prefix}-circle:before {content: $bf-var-circle;}
.#{$bf-css-prefix}-circle-o:before {content: $bf-var-circle-o;}
.#{$bf-css-prefix}-circle-ring:before {content: $bf-var-circle-ring;}
.#{$bf-css-prefix}-star:before {content: $bf-var-star;}
.#{$bf-css-prefix}-star-half:before {content: $bf-var-star-half;}
.#{$bf-css-prefix}-star-o:before {content: $bf-var-star-o;}
.#{$bf-css-prefix}-cube:before {content: $bf-var-cube;}
.#{$bf-css-prefix}-cubes:before {content: $bf-var-cubes;}
.#{$bf-css-prefix}-diamond:before {content: $bf-var-diamond;}
.#{$bf-css-prefix}-certificate:before {content: $bf-var-certificate;}

.#{$bf-css-prefix}-globe:before {content: $bf-var-globe;}
.#{$bf-css-prefix}-tree:before {content: $bf-var-tree;}
.#{$bf-css-prefix}-tint:before {content: $bf-var-tint;}
.#{$bf-css-prefix}-volt:before {content: $bf-var-volt;}
.#{$bf-css-prefix}-sun:before {content: $bf-var-sun;}
.#{$bf-css-prefix}-moon:before {content: $bf-var-moon;}
.#{$bf-css-prefix}-bug:before {content: $bf-var-bug;}
.#{$bf-css-prefix}-leaf:before {content: $bf-var-leaf;}
.#{$bf-css-prefix}-paw:before {content: $bf-var-paw;}
.#{$bf-css-prefix}-leamon:before {content: $bf-var-leamon;}
.#{$bf-css-prefix}-fire:before {content: $bf-var-fire;}
.#{$bf-css-prefix}-fire-sign:before {content: $bf-var-fire-sign;}
.#{$bf-css-prefix}-free-code-camp:before {content: $bf-var-free-code-camp;}

.#{$bf-css-prefix}-horse:before {content: $bf-var-horse;}
.#{$bf-css-prefix}-butterfly:before {content: $bf-var-butterfly;}
.#{$bf-css-prefix}-tiger:before {content: $bf-var-tiger;}
.#{$bf-css-prefix}-elephant:before {content: $bf-var-elephant;}
.#{$bf-css-prefix}-bull:before {content: $bf-var-bull;}
.#{$bf-css-prefix}-deer:before {content: $bf-var-deer;}
.#{$bf-css-prefix}-tortoise:before {content: $bf-var-tortoise;}
.#{$bf-css-prefix}-panda:before {content: $bf-var-panda;}
.#{$bf-css-prefix}-ziraph:before {content: $bf-var-ziraph;}
.#{$bf-css-prefix}-squirrel:before {content: $bf-var-squirrel;}
.#{$bf-css-prefix}-rabbit-run:before {content: $bf-var-rabbit-run;}
.#{$bf-css-prefix}-rabbit:before {content: $bf-var-rabbit;}
.#{$bf-css-prefix}-fox:before {content: $bf-var-fox;}
.#{$bf-css-prefix}-crocodile:before {content: $bf-var-crocodile;}
.#{$bf-css-prefix}-goat:before {content: $bf-var-goat;}
.#{$bf-css-prefix}-donkey:before {content: $bf-var-donkey;}
.#{$bf-css-prefix}-shark:before {content: $bf-var-shark;}
.#{$bf-css-prefix}-penguin:before {content: $bf-var-penguin;}
.#{$bf-css-prefix}-kangaroo:before {content: $bf-var-kangaroo;}
.#{$bf-css-prefix}-duck:before {content: $bf-var-duck;}
.#{$bf-css-prefix}-owl:before {content: $bf-var-owl;}
.#{$bf-css-prefix}-monkey:before {content: $bf-var-monkey;}
.#{$bf-css-prefix}-sparrow:before {content: $bf-var-globesparrowglobe;}
.#{$bf-css-prefix}-baby-elephant:before {content: $bf-var-baby-elephant;}
.#{$bf-css-prefix}-egret:before {content: $bf-var-egret;}
.#{$bf-css-prefix}-rhinoceros:before {content: $bf-var-rhinoceros;}
.#{$bf-css-prefix}-cow:before {content: $bf-var-cow;}
.#{$bf-css-prefix}-hipo:before {content: $bf-var-hipo;}
.#{$bf-css-prefix}-dog:before {content: $bf-var-dog;}
.#{$bf-css-prefix}-fish:before {content: $bf-var-fish;}

.#{$bf-css-prefix}-code:before {content: $bf-var-code;}
.#{$bf-css-prefix}-user-doctor:before {content: $bf-var-user-doctor;}
.#{$bf-css-prefix}-user-secret:before {content: $bf-var-user-secret;}
.#{$bf-css-prefix}-football:before {content: $bf-var-football;}
.#{$bf-css-prefix}-rebel:before {content: $bf-var-rebel;}
.#{$bf-css-prefix}-soldier:before {content: $bf-var-soldier;}
.#{$bf-css-prefix}-balance-scale:before {content: $bf-var-balance-scale;}
.#{$bf-css-prefix}-graduation-cap:before {content: $bf-var-graduation-cap;}
.#{$bf-css-prefix}-university:before {content: $bf-var-university;}
.#{$bf-css-prefix}-heartbeat:before {content: $bf-var-heartbeat;}
.#{$bf-css-prefix}-space-walk:before {content: $bf-var-space-walk;}

.#{$bf-css-prefix}-exclamation-circle:before {content: $bf-var-exclamation-circle;}
.#{$bf-css-prefix}-play-circle:before {content: $bf-var-play-circle;}
.#{$bf-css-prefix}-step-backward:before {content: $bf-var-step-backward;}
.#{$bf-css-prefix}-fast-backward:before {content: $bf-var-fast-backward;}
.#{$bf-css-prefix}-backward:before {content: $bf-var-backward;}
.#{$bf-css-prefix}-play:before {content: $bf-var-play;}
.#{$bf-css-prefix}-pause:before {content: $bf-var-pause;}
.#{$bf-css-prefix}-stop:before {content: $bf-var-stop;}
.#{$bf-css-prefix}-forward:before {content: $bf-var-forward;}
.#{$bf-css-prefix}-fast-forward:before {content: $bf-var-fast-forward;}
.#{$bf-css-prefix}-step-forward:before {content: $bf-var-step-forward;}
.#{$bf-css-prefix}-eject:before {content: $bf-var-eject;}
.#{$bf-css-prefix}-exclamation-triangle:before {content: $bf-var-exclamation-triangle;}
.#{$bf-css-prefix}-exclamation:before {content: $bf-var-exclamation;}
.#{$bf-css-prefix}-info:before {content: $bf-var-info;}
.#{$bf-css-prefix}-random:before {content: $bf-var-random;}
.#{$bf-css-prefix}-question:before {content: $bf-var-question;}
.#{$bf-css-prefix}-heart:before {content: $bf-var-heart;}
.#{$bf-css-prefix}-plus:before {content: $bf-var-plus;}
.#{$bf-css-prefix}-minus:before {content: $bf-var-minus;}
.#{$bf-css-prefix}-percent:before {content: $bf-var-percent;}
.#{$bf-css-prefix}-asterisk:before {content: $bf-var-asterisk;}
.#{$bf-css-prefix}-hashtag:before {content: $bf-var-hashtag;}
.#{$bf-css-prefix}-superscript:before {content: $bf-var-superscript;}
.#{$bf-css-prefix}-subscript:before {content: $bf-var-subscript;}
.#{$bf-css-prefix}-at:before {content: $bf-var-at;}
.#{$bf-css-prefix}-copyright:before {content: $bf-var-copyright;}
.#{$bf-css-prefix}-window-minimize:before {content: $bf-var-window-minimize;}
.#{$bf-css-prefix}-expand:before {content: $bf-var-expand;}
.#{$bf-css-prefix}-compress:before {content: $bf-var-compress;}
.#{$bf-css-prefix}-vr:before {content: $bf-var-vr;}
.#{$bf-css-prefix}-battery-empty:before {content: $bf-var-battery-empty;}
.#{$bf-css-prefix}-battery-quarter:before {content: $bf-var-battery-quarter;}
.#{$bf-css-prefix}-battery-half:before {content: $bf-var-battery-half;}
.#{$bf-css-prefix}-battery-three-quarters:before {content: $bf-var-battery-three-quarters;}
.#{$bf-css-prefix}-battery-full:before {content: $bf-var-battery-full;}
.#{$bf-css-prefix}-microphone:before {content: $bf-var-microphone;}
.#{$bf-css-prefix}-microphone-slash:before {content: $bf-var-microphone-slash;}
.#{$bf-css-prefix}-bell-o:before {content: $bf-var-bell-o;}
.#{$bf-css-prefix}-bell:before {content: $bf-var-bell;}
.#{$bf-css-prefix}-bell-slash-o:before {content: $bf-var-bell-slash-o;}
.#{$bf-css-prefix}-bell-slash:before {content: $bf-var-bell-slash;}
.#{$bf-css-prefix}-volume-off:before {content: $bf-var-volume-off;}
.#{$bf-css-prefix}-volume-down:before {content: $bf-var-volume-down;}
.#{$bf-css-prefix}-volume-up:before {content: $bf-var-volume-up;}
.#{$bf-css-prefix}-database:before {content: $bf-var-database;}
.#{$bf-css-prefix}-wifi:before {content: $bf-var-wifi;}
.#{$bf-css-prefix}-binoculars:before {content: $bf-var-binoculars;}
.#{$bf-css-prefix}-plug:before {content: $bf-var-plug;}
.#{$bf-css-prefix}-print:before {content: $bf-var-print;}
.#{$bf-css-prefix}-calculator:before {content: $bf-var-calculator;}
.#{$bf-css-prefix}-fax:before {content: $bf-var-fax;}
.#{$bf-css-prefix}-signal:before {content: $bf-var-signal;}
.#{$bf-css-prefix}-book:before {content: $bf-var-book;}
.#{$bf-css-prefix}-check:before {content: $bf-var-check;}
.#{$bf-css-prefix}-times:before {content: $bf-var-times;}
.#{$bf-css-prefix}-lock:before {content: $bf-var-lock;}
.#{$bf-css-prefix}-unlock-alt:before {content: $bf-var-unlock-alt;}
.#{$bf-css-prefix}-unlock:before {content: $bf-var-unlock;}
.#{$bf-css-prefix}-key:before {content: $bf-var-key;}
.#{$bf-css-prefix}-microchip:before {content: $bf-var-microchip;}
.#{$bf-css-prefix}-hdd:before {content: $bf-var-hdd;}
.#{$bf-css-prefix}-pencil-square-o:before {content: $bf-var-pencil-square-o;}
.#{$bf-css-prefix}-share-square-o:before {content: $bf-var-share-square-o;}
.#{$bf-css-prefix}-check-square-o:before {content: $bf-var-check-square-o;}
.#{$bf-css-prefix}-check-square:before {content: $bf-var-check-square;}
.#{$bf-css-prefix}-external-link-square:before {content: $bf-var-external-link-square;}
.#{$bf-css-prefix}-pencil-square:before {content: $bf-var-pencil-square;}
.#{$bf-css-prefix}-clone:before {content: $bf-var-clone;}
.#{$bf-css-prefix}-clipboard:before {content: $bf-var-clipboard;}
.#{$bf-css-prefix}-files-o:before {content: $bf-var-files-o;}
.#{$bf-css-prefix}-object-group:before {content: $bf-var-object-group;}
.#{$bf-css-prefix}-object-ungroup:before {content: $bf-var-object-ungroup;}
.#{$bf-css-prefix}-font:before {content: $bf-var-font;}
.#{$bf-css-prefix}-bold:before {content: $bf-var-bold;}
.#{$bf-css-prefix}-italic:before {content: $bf-var-italic;}
.#{$bf-css-prefix}-text-height:before {content: $bf-var-text-height;}
.#{$bf-css-prefix}-text-width:before {content: $bf-var-text-width;}
.#{$bf-css-prefix}-align-left:before {content: $bf-var-align-left;}
.#{$bf-css-prefix}-align-center:before {content: $bf-var-align-center;}
.#{$bf-css-prefix}-align-right:before {content: $bf-var-align-right;}
.#{$bf-css-prefix}-align-justify:before {content: $bf-var-align-justify;}
.#{$bf-css-prefix}-list:before {content: $bf-var-list;}
.#{$bf-css-prefix}-outdent:before {content: $bf-var-outdent;}
.#{$bf-css-prefix}-indent:before {content: $bf-var-indent;}
.#{$bf-css-prefix}-paragraph:before {content: $bf-var-paragraph;}
.#{$bf-css-prefix}-header:before {content: $bf-var-header;}
.#{$bf-css-prefix}-sort-alpha-asc:before {content: $bf-var-sort-alpha-asc;}
.#{$bf-css-prefix}-sort-alpha-desc:before {content: $bf-var-sort-alpha-desc;}
.#{$bf-css-prefix}-sort-amount-asc:before {content: $bf-var-sort-amount-asc;}
.#{$bf-css-prefix}-sort-amount-desc:before {content: $bf-var-sort-amount-desc;}
.#{$bf-css-prefix}-sort-numeric-asc:before {content: $bf-var-sort-numeric-asc;}
.#{$bf-css-prefix}-sort-numeric-desc:before {content: $bf-var-sort-numeric-desc;}
.#{$bf-css-prefix}-trash-o:before {content: $bf-var-trash-o;}
.#{$bf-css-prefix}-trash:before {content: $bf-var-trash;}
.#{$bf-css-prefix}-heart-o:before {content: $bf-var-heart-o;}
.#{$bf-css-prefix}-quote-left:before {content: $bf-var-quote-left;}
.#{$bf-css-prefix}-quote-right:before {content: $bf-var-quote-right;}
.#{$bf-css-prefix}-eraser:before {content: $bf-var-eraser;}
.#{$bf-css-prefix}-strikethrough:before {content: $bf-var-strikethrough;}
.#{$bf-css-prefix}-underline:before {content: $bf-var-underline;}
.#{$bf-css-prefix}-list-ul:before {content: $bf-var-list-ul;}
.#{$bf-css-prefix}-list-ol:before {content: $bf-var-list-ol;}
.#{$bf-css-prefix}-bars:before {content: $bf-var-bars;}
.#{$bf-css-prefix}-ticket:before {content: $bf-var-ticket;}
.#{$bf-css-prefix}-power-off:before {content: $bf-var-power-off;}
.#{$bf-css-prefix}-i-cursor:before {content: $bf-var-i-cursor;}
.#{$bf-css-prefix}-circle-o-notch:before {content: $bf-var-circle-o-notch;}
.#{$bf-css-prefix}-cog:before {content: $bf-var-cog;}
.#{$bf-css-prefix}-refresh:before {content: $bf-var-refresh;}
.#{$bf-css-prefix}-spinner:before {content: $bf-var-spinner;}
.#{$bf-css-prefix}-fidget-spinner:before {content: $bf-var-fidget-spinner;}
.#{$bf-css-prefix}-circled:before {content: $bf-var-circled;}
.#{$bf-css-prefix}-ninga:before {content: $bf-var-ninga;}
.#{$bf-css-prefix}-cogs:before {content: $bf-var-cogs;}
.#{$bf-css-prefix}-shadow:before {content: $bf-var-shadow;}
.#{$bf-css-prefix}-snowflake:before {content: $bf-var-snowflake;}
.#{$bf-css-prefix}-superpowers:before {content: $bf-var-superpowers;}
.#{$bf-css-prefix}-crosshairs:before {content: $bf-var-crosshairs;}
.#{$bf-css-prefix}-encircle:before {content: $bf-var-encircle;}
.#{$bf-css-prefix}-wheel:before {content: $bf-var-wheel;}
.#{$bf-css-prefix}-empire:before {content: $bf-var-empire;}
.#{$bf-css-prefix}-repeat:before {content: $bf-var-repeat;}
.#{$bf-css-prefix}-undo:before {content: $bf-var-undo;}
.#{$bf-css-prefix}-clock-o:before {content: $bf-var-clock-o;}
.#{$bf-css-prefix}-compass:before {content: $bf-var-compass;}
.#{$bf-css-prefix}-bullseye:before {content: $bf-var-bullseye;}
.#{$bf-css-prefix}-ban:before {content: $bf-var-ban;}
.#{$bf-css-prefix}-recycle:before {content: $bf-var-recycle;}
.#{$bf-css-prefix}-ashok-chakra:before {content: $bf-var-ashok-chakra;}
.#{$bf-css-prefix}-guitar:before {content: $bf-var-guitar;}
.#{$bf-css-prefix}-hammer:before {content: $bf-var-hammer;}
.#{$bf-css-prefix}-gavel:before {content: $bf-var-gavel;}
.#{$bf-css-prefix}-scissors:before {content: $bf-var-scissors;}
.#{$bf-css-prefix}-paperclip:before {content: $bf-var-paperclip;}
.#{$bf-css-prefix}-briefcase:before {content: $bf-var-briefcase;}
.#{$bf-css-prefix}-fire-extinguisher:before {content: $bf-var-fire-extinguisher;}
.#{$bf-css-prefix}-eyedropper:before {content: $bf-var-eyedropper;}
.#{$bf-css-prefix}-pencil:before {content: $bf-var-pencil;}
.#{$bf-css-prefix}-paint-brush:before {content: $bf-var-paint-brush;}
.#{$bf-css-prefix}-wrench:before {content: $bf-var-wrench;}
.#{$bf-css-prefix}-hourglass-o:before {content: $bf-var-hourglass-o;}
.#{$bf-css-prefix}-hourglass-start:before {content: $bf-var-hourglass-start;}
.#{$bf-css-prefix}-hourglass-half:before {content: $bf-var-hourglass-half;}
.#{$bf-css-prefix}-hourglass-end:before {content: $bf-var-hourglass-end;}
.#{$bf-css-prefix}-hourglass:before {content: $bf-var-hourglass;}
.#{$bf-css-prefix}-sticky-note:before {content: $bf-var-sticky-note;}
.#{$bf-css-prefix}-sticky-note-o:before {content: $bf-var-sticky-note-o;}
.#{$bf-css-prefix}-bomb:before {content: $bf-var-bomb;}
.#{$bf-css-prefix}-umbrella:before {content: $bf-var-umbrella;}
.#{$bf-css-prefix}-bulb:before {content: $bf-var-bulb;}
.#{$bf-css-prefix}-keypad:before {content: $bf-var-keypad;}
.#{$bf-css-prefix}-bullhorn:before {content: $bf-var-bullhorn;}
.#{$bf-css-prefix}-tasks:before {content: $bf-var-tasks;}
.#{$bf-css-prefix}-headphones:before {content: $bf-var-headphones;}
.#{$bf-css-prefix}-magnet:before {content: $bf-var-magnet;}
.#{$bf-css-prefix}-usb:before {content: $bf-var-usb;}
.#{$bf-css-prefix}-flask:before {content: $bf-var-flask;}
.#{$bf-css-prefix}-tv:before {content: $bf-var-tv;}
.#{$bf-css-prefix}-pc:before {content: $bf-var-pc;}
.#{$bf-css-prefix}-laptop:before {content: $bf-var-laptop;}
.#{$bf-css-prefix}-tablet:before {content: $bf-var-tablet;}
.#{$bf-css-prefix}-mobile:before {content: $bf-var-mobile;}
.#{$bf-css-prefix}-plus-circle:before {content: $bf-var-plus-circle;}
.#{$bf-css-prefix}-minus-circle:before {content: $bf-var-minus-circle;}
.#{$bf-css-prefix}-times-circle:before {content: $bf-var-times-circle;}
.#{$bf-css-prefix}-check-circle:before {content: $bf-var-check-circle;}
.#{$bf-css-prefix}-question-circle:before {content: $bf-var-question-circle;}
.#{$bf-css-prefix}-info-circle:before {content: $bf-var-info-circle;}
.#{$bf-css-prefix}-times-circle-o:before {content: $bf-var-times-circle-o;}
.#{$bf-css-prefix}-check-circle-o:before {content: $bf-var-check-circle-o;}
.#{$bf-css-prefix}-trophy:before {content: $bf-var-trophy;}
.#{$bf-css-prefix}-question-circle-o:before {content: $bf-var-question-circle-o;}
.#{$bf-css-prefix}-love-circle:before {content: $bf-var-love-circle;}
.#{$bf-css-prefix}-pause-circle-o:before {content: $bf-var-pause-circle-o;}
.#{$bf-css-prefix}-pause-circle:before {content: $bf-var-pause-circle;}
.#{$bf-css-prefix}-stop-circle-o:before {content: $bf-var-stop-circle-o;}
.#{$bf-css-prefix}-stop-circle:before {content: $bf-var-stop-circle;}
.#{$bf-css-prefix}-telegram:before {content: $bf-var-telegram;}
.#{$bf-css-prefix}-creative-commons:before {content: $bf-var-creative-commons;}
.#{$bf-css-prefix}-registered:before {content: $bf-var-registered;}
.#{$bf-css-prefix}-trademark:before {content: $bf-var-trademark;}
.#{$bf-css-prefix}-archive:before {content: $bf-var-archive;}
.#{$bf-css-prefix}-menu:before {content: $bf-var-menu;}
.#{$bf-css-prefix}-menu-large:before {content: $bf-var-menu-large;}
.#{$bf-css-prefix}-menu-list:before {content: $bf-var-menu-list;}
.#{$bf-css-prefix}-filter:before {content: $bf-var-filter;}
.#{$bf-css-prefix}-spoon:before {content: $bf-var-spoon;}
.#{$bf-css-prefix}-map-o:before {content: $bf-var-map-o;}
.#{$bf-css-prefix}-map:before {content: $bf-var-map;}
.#{$bf-css-prefix}-anchor:before {content: $bf-var-anchor;}
.#{$bf-css-prefix}-suitcase:before {content: $bf-var-suitcase;}
.#{$bf-css-prefix}-pin:before {content: $bf-var-pin;}
.#{$bf-css-prefix}-axe:before {content: $bf-var-axe;}
.#{$bf-css-prefix}-user-o:before {content: $bf-var-user-o;}
.#{$bf-css-prefix}-user-circle-o:before {content: $bf-var-user-circle-o;}
.#{$bf-css-prefix}-user-circle:before {content: $bf-var-user-circle;}
.#{$bf-css-prefix}-id-card-o:before {content: $bf-var-id-card-o;}
.#{$bf-css-prefix}-id-card:before {content: $bf-var-id-card;}
.#{$bf-css-prefix}-address-card:before {content: $bf-var-address-card;}
.#{$bf-css-prefix}-address-card-o:before {content: $bf-var-address-card-o;}
.#{$bf-css-prefix}-id-badge:before {content: $bf-var-id-badge;}
.#{$bf-css-prefix}-envelope-o:before {content: $bf-var-envelope-o;}
.#{$bf-css-prefix}-envelope:before {content: $bf-var-envelope;}
.#{$bf-css-prefix}-envelope-open:before {content: $bf-var-envelope-open;}
.#{$bf-css-prefix}-envelope-open-o:before {content: $bf-var-envelope-open-o;}
.#{$bf-css-prefix}-users:before {content: $bf-var-users;}
.#{$bf-css-prefix}-user:before {content: $bf-var-user;}
.#{$bf-css-prefix}-puzzle-piece:before {content: $bf-var-puzzle-piece;}
.#{$bf-css-prefix}-link:before {content: $bf-var-link;}
.#{$bf-css-prefix}-chain-broken:before {content: $bf-var-chain-broken;}
.#{$bf-css-prefix}-location-arrow:before {content: $bf-var-location-arrow;}
.#{$bf-css-prefix}-paper-plane-o:before {content: $bf-var-paper-plane-o;}
.#{$bf-css-prefix}-paper-plane:before {content: $bf-var-paper-plane;}
.#{$bf-css-prefix}-address-book:before {content: $bf-var-address-book;}
.#{$bf-css-prefix}-address-book-o:before {content: $bf-var-address-book-o;}
.#{$bf-css-prefix}-toggle-off:before {content: $bf-var-toggle-off;}
.#{$bf-css-prefix}-toggle-on:before {content: $bf-var-toggle-on;}
.#{$bf-css-prefix}-barcode:before {content: $bf-var-barcode;}
.#{$bf-css-prefix}-podcast:before {content: $bf-var-podcast;}
.#{$bf-css-prefix}-cart-plus:before {content: $bf-var-cart-plus;}
.#{$bf-css-prefix}-shopping-cart:before {content: $bf-var-shopping-cart;}
.#{$bf-css-prefix}-cart-arrow-down:before {content: $bf-var-cart-arrow-down;}
.#{$bf-css-prefix}-shopping-bag:before {content: $bf-var-shopping-bag;}
.#{$bf-css-prefix}-shopping-basket:before {content: $bf-var-shopping-basket;}
.#{$bf-css-prefix}-bluetooth:before {content: $bf-var-bluetooth;}
.#{$bf-css-prefix}-bluetooth-official:before {content: $bf-var-bluetooth-official;}
.#{$bf-css-prefix}-cloud-upload:before {content: $bf-var-cloud-upload;}
.#{$bf-css-prefix}-cloud-download:before {content: $bf-var-cloud-download;}
.#{$bf-css-prefix}-cloud:before {content: $bf-var-cloud;}
.#{$bf-css-prefix}-share-square:before {content: $bf-var-share-square;}
.#{$bf-css-prefix}-share-alt:before {content: $bf-var-share-alt;}
.#{$bf-css-prefix}-share-alt-square:before {content: $bf-var-share-alt-square;}
.#{$bf-css-prefix}-video-camera:before {content: $bf-var-video-camera;}
.#{$bf-css-prefix}-film:before {content: $bf-var-film;}
.#{$bf-css-prefix}-camera:before {content: $bf-var-camera;}
.#{$bf-css-prefix}-picture:before {content: $bf-var-picture;}
.#{$bf-css-prefix}-mouse-pointer:before {content: $bf-var-mouse-pointer;}
.#{$bf-css-prefix}-crop:before {content: $bf-var-crop;}
.#{$bf-css-prefix}-qrcode:before {content: $bf-var-qrcode;}
.#{$bf-css-prefix}-history:before {content: $bf-var-history;}
.#{$bf-css-prefix}-home:before {content: $bf-var-home;}
.#{$bf-css-prefix}-bookmark:before {content: $bf-var-bookmark;}
.#{$bf-css-prefix}-bookmark-o:before {content: $bf-var-bookmark-o;}
.#{$bf-css-prefix}-sitemap:before {content: $bf-var-sitemap;}
.#{$bf-css-prefix}-search-alt:before {content: $bf-var-search-alt;}
.#{$bf-css-prefix}-search:before {content: $bf-var-search;}
.#{$bf-css-prefix}-retweet:before {content: $bf-var-retweet;}
.#{$bf-css-prefix}-search-plus:before {content: $bf-var-search-plus;}
.#{$bf-css-prefix}-search-minus:before {content: $bf-var-search-minus;}
.#{$bf-css-prefix}-ellipsis-h:before {content: $bf-var-ellipsis-h;}
.#{$bf-css-prefix}-ellipsis-v:before {content: $bf-var-ellipsis-v;}
.#{$bf-css-prefix}-eye:before {content: $bf-var-eye;}
.#{$bf-css-prefix}-eye-slash:before {content: $bf-var-eye-slash;}
.#{$bf-css-prefix}-tag:before {content: $bf-var-tag;}
.#{$bf-css-prefix}-tags:before {content: $bf-var-tags;}
.#{$bf-css-prefix}-inbox:before {content: $bf-var-inbox;}
.#{$bf-css-prefix}-envelope-square:before {content: $bf-var-envelope-square;}
.#{$bf-css-prefix}-reply-all:before {content: $bf-var-reply-all;}
.#{$bf-css-prefix}-upload:before {content: $bf-var-upload;}
.#{$bf-css-prefix}-download:before {content: $bf-var-download;}
.#{$bf-css-prefix}-sign-out:before {content: $bf-var-sign-out;}
.#{$bf-css-prefix}-sign-in:before {content: $bf-var-sign-in;}
.#{$bf-css-prefix}-user-plus:before {content: $bf-var-user-plus;}
.#{$bf-css-prefix}-user-times:before {content: $bf-var-user-times;}
.#{$bf-css-prefix}-circled-circle:before {content: $bf-var-circled-circle;}
.#{$bf-css-prefix}-phone:before {content: $bf-var-phone;}
.#{$bf-css-prefix}-phone-square:before {content: $bf-var-phone-square;}
.#{$bf-css-prefix}-save:before {content: $bf-var-save;}
.#{$bf-css-prefix}-save-all:before {content: $bf-var-save-all;}
.#{$bf-css-prefix}-eye-scan:before {content: $bf-var-eye-scan;}
.#{$bf-css-prefix}-radio:before {content: $bf-var-radio;}
.#{$bf-css-prefix}-share:before {content: $bf-var-share;}
.#{$bf-css-prefix}-reply:before {content: $bf-var-reply;}
.#{$bf-css-prefix}-genderless:before {content: $bf-var-genderless;}
.#{$bf-css-prefix}-mars:before {content: $bf-var-mars;}
.#{$bf-css-prefix}-mars-double:before {content: $bf-var-mars-double;}
.#{$bf-css-prefix}-mars-stroke:before {content: $bf-var-mars-stroke;}
.#{$bf-css-prefix}-mars-stroke-h:before {content: $bf-var-mars-stroke-h;}
.#{$bf-css-prefix}-mars-stroke-v:before {content: $bf-var-mars-stroke-v;}
.#{$bf-css-prefix}-mercury:before {content: $bf-var-mercury;}
.#{$bf-css-prefix}-neuter:before {content: $bf-var-neuter;}
.#{$bf-css-prefix}-transgender:before {content: $bf-var-transgender;}
.#{$bf-css-prefix}-transgender-alt:before {content: $bf-var-transgender-alt;}
.#{$bf-css-prefix}-venus:before {content: $bf-var-venus;}
.#{$bf-css-prefix}-venus-double:before {content: $bf-var-venus-double;}
.#{$bf-css-prefix}-venus-mars:before {content: $bf-var-venus-mars;}
.#{$bf-css-prefix}-male:before {content: $bf-var-male;}
.#{$bf-css-prefix}-female:before {content: $bf-var-female;}
.#{$bf-css-prefix}-child:before {content: $bf-var-child;}
.#{$bf-css-prefix}-couple:before {content: $bf-var-couple;}
.#{$bf-css-prefix}-mother:before {content: $bf-var-mother;}
.#{$bf-css-prefix}-father:before {content: $bf-var-father;}
.#{$bf-css-prefix}-family:before {content: $bf-var-family;}
.#{$bf-css-prefix}-stethoscope:before {content: $bf-var-stethoscope;}
.#{$bf-css-prefix}-thermometer-full:before {content: $bf-var-thermometer-full;}
.#{$bf-css-prefix}-thermometer-three-quarters:before {content: $bf-var-thermometer-three-quarters;}
.#{$bf-css-prefix}-thermometer-half:before {content: $bf-var-thermometer-half;}
.#{$bf-css-prefix}-thermometer-quarter:before {content: $bf-var-thermometer-quarter;}
.#{$bf-css-prefix}-thermometer-empty:before {content: $bf-var-thermometer-empty;}
.#{$bf-css-prefix}-medical-kit:before {content: $bf-var-medical-kit;}
.#{$bf-css-prefix}-ambulance:before {content: $bf-var-ambulance;}
.#{$bf-css-prefix}-h-square:before {content: $bf-var-h-square;}
.#{$bf-css-prefix}-hospital:before {content: $bf-var-hospital;}
.#{$bf-css-prefix}-bicycle:before {content: $bf-var-bicycle;}
.#{$bf-css-prefix}-car:before {content: $bf-var-car;}
.#{$bf-css-prefix}-taxi:before {content: $bf-var-taxi;}
.#{$bf-css-prefix}-bus:before {content: $bf-var-bus;}
.#{$bf-css-prefix}-plane:before {content: $bf-var-plane;}
.#{$bf-css-prefix}-train:before {content: $bf-var-train;}
.#{$bf-css-prefix}-subway:before {content: $bf-var-subway;}
.#{$bf-css-prefix}-space-shuttle:before {content: $bf-var-space-shuttle;}
.#{$bf-css-prefix}-ship:before {content: $bf-var-ship;}
.#{$bf-css-prefix}-truck:before {content: $bf-var-truck;}
.#{$bf-css-prefix}-fighter-jet:before {content: $bf-var-fighter-jet;}
.#{$bf-css-prefix}-motorcycle:before {content: $bf-var-motorcycle;}
.#{$bf-css-prefix}-rocket:before {content: $bf-var-rocket;}
.#{$bf-css-prefix}-calendar-blank:before {content: $bf-var-calendar-blank;}
.#{$bf-css-prefix}-calendar-check:before {content: $bf-var-calendar-check;}
.#{$bf-css-prefix}-calendar-times:before {content: $bf-var-calendar-times;}
.#{$bf-css-prefix}-calendar-plus:before {content: $bf-var-calendar-plus;}
.#{$bf-css-prefix}-calendar-minus:before {content: $bf-var-calendar-minus;}
.#{$bf-css-prefix}-calendar:before {content: $bf-var-calendar;}
.#{$bf-css-prefix}-folder-o:before {content: $bf-var-folder-o;}
.#{$bf-css-prefix}-folder-open-o:before {content: $bf-var-folder-open-o;}
.#{$bf-css-prefix}-folder:before {content: $bf-var-folder;}
.#{$bf-css-prefix}-folder-open:before {content: $bf-var-folder-open;}
.#{$bf-css-prefix}-columns:before {content: $bf-var-columns;}
.#{$bf-css-prefix}-window-restore:before {content: $bf-var-window-restore;}
.#{$bf-css-prefix}-window-maximize:before {content: $bf-var-window-maximize;}
.#{$bf-css-prefix}-window-close-o:before {content: $bf-var-window-close-o;}
.#{$bf-css-prefix}-window-close:before {content: $bf-var-window-close;}
.#{$bf-css-prefix}-list-alt:before {content: $bf-var-list-alt;}
.#{$bf-css-prefix}-minus-square:before {content: $bf-var-minus-square;}
.#{$bf-css-prefix}-minus-square-o:before {content: $bf-var-minus-square-o;}
.#{$bf-css-prefix}-plus-square:before {content: $bf-var-plus-square;}
.#{$bf-css-prefix}-plus-square-o:before {content: $bf-var-plus-square-o;}
.#{$bf-css-prefix}-external-link:before {content: $bf-var-external-link;}
.#{$bf-css-prefix}-american-sign-language:before {content: $bf-var-american-sign-language;}
.#{$bf-css-prefix}-assistive-listening-systems:before {content: $bf-var-assistive-listening-systems;}
.#{$bf-css-prefix}-audio-description:before {content: $bf-var-audio-description;}
.#{$bf-css-prefix}-blind:before {content: $bf-var-blind;}
.#{$bf-css-prefix}-braille:before {content: $bf-var-braille;}
.#{$bf-css-prefix}-cc:before {content: $bf-var-cc;}
.#{$bf-css-prefix}-deaf:before {content: $bf-var-deaf;}
.#{$bf-css-prefix}-low-vision:before {content: $bf-var-low-vision;}
.#{$bf-css-prefix}-road:before {content: $bf-var-road;}
.#{$bf-css-prefix}-sign-language:before {content: $bf-var-sign-language;}
.#{$bf-css-prefix}-universal-access:before {content: $bf-var-universal-access;}
.#{$bf-css-prefix}-tty:before {content: $bf-var-tty;}
.#{$bf-css-prefix}-volume-control-phone:before {content: $bf-var-volume-control-phone;}
.#{$bf-css-prefix}-wheelchair-alt:before {content: $bf-var-wheelchair-alt;}
.#{$bf-css-prefix}-wheelchair:before {content: $bf-var-wheelchair;}
.#{$bf-css-prefix}-map-marker:before {content: $bf-var-map-marker;}
.#{$bf-css-prefix}-street-view:before {content: $bf-var-street-view;}
.#{$bf-css-prefix}-language:before {content: $bf-var-language;}
.#{$bf-css-prefix}-server:before {content: $bf-var-server;}
.#{$bf-css-prefix}-indian:before {content: $bf-var-indian;}
.#{$bf-css-prefix}-russian:before {content: $bf-var-russian;}
.#{$bf-css-prefix}-unitedstates:before {content: $bf-var-unitedstates;}
.#{$bf-css-prefix}-swis:before {content: $bf-var-swis;}
.#{$bf-css-prefix}-german:before {content: $bf-var-german;}
.#{$bf-css-prefix}-chinese:before {content: $bf-var-chinese;}
.#{$bf-css-prefix}-british:before {content: $bf-var-british;}
.#{$bf-css-prefix}-japanese:before {content: $bf-var-japanese;}


// END