// List Icons
// -------------------------

.#{$bf-css-prefix}-ul {
  padding-left: 0;
  margin-left: $bf-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$bf-css-prefix}-li {
  position: absolute;
  left: -$bf-li-width;
  width: $bf-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$bf-css-prefix}-lg {
    left: -$bf-li-width + (4em / 14);
  }
}
