// Variables
// --------------------------

$bf-font-path:        "../fonts" !debfult;
$bf-font-size-base:   14px !debfult;
$bf-line-height-base: 1 !debfult;
$bf-css-prefix:       bf !debfult;
$bf-version:          "4.7.0" !debfult;
$bf-border-color:     #eee !debfult;
$bf-inverse:          #fff !debfult;
$bf-li-width:         (30em / 14) !debfult;



// START

$bf-var-radioactive-enterprise: "\B1A01";
$bf-var-apple: "\B1A02";
$bf-var-walmart: "\B1A03";
$bf-var-google: "\B1A04";
$bf-var-samsung: "\B1A05";
$bf-var-generalelectric: "\B1A06";
$bf-var-microsoft: "\B1A07";
$bf-var-yahoo: "\B1A09";
$bf-var-paypal: "\B1A10";
$bf-var-google-wallet: "\B1A11";

// OMG

$bf-var-ferrari: "\B1B01";
$bf-var-bmw: "\B1B02";
$bf-var-hondamobiles: "\B1B03";
$bf-var-tesla: "\B1B04";
$bf-var-lamborghini: "\B1B05";

$bf-var-volkswagen: "\B1B07";
$bf-var-toyota: "\B1B08";
$bf-var-ford: "\B1B09";
$bf-var-uber: "\B1B10";

// OMG

$bf-var-systems: "\B1C01";
$bf-var-directional: "\B1C02";
$bf-var-capitalizedsphere: "\B1C03";
$bf-var-betterfonts: "\B1C04";
$bf-var-asianindusrecords: "\B1C05";
$bf-var-xoftime: "\B1C06";
$bf-var-dipesious: "\B1C07";
$bf-var-codefreeweb: "\B1C08";


// OMG

$bf-var-joomla: "\B1D01";
$bf-var-wordpress: "\B1D02";
$bf-var-jsfiddle: "\B1D03";
$bf-var-drupal: "\B1D04";
$bf-var-google-drive: "\B1D05";
$bf-var-dropbox: "\B1D06";

// OMG

$bf-var-eercast: "\B1D21";
$bf-var-obs: "\B1D22";
$bf-var-openid: "\B1D23";
$bf-var-get-pocket: "\B1D24";

// OMG

$bf-var-amazon: "\B1E01";
$bf-var-ebay: "\B1E02";
$bf-var-flipkart: "\B1E03";
$bf-var-opencart: "\B1E04";

$bf-var-foursquare: "\B1E06";
$bf-var-google-play: "\B1E07";
$bf-var-google-play-music: "\B1E08";
$bf-var-google-play-books: "\B1E09";
$bf-var-google-adsense: "\B1E10";
$bf-var-google-maps: "\B1E11";
$bf-var-google-keep: "\B1E12";
$bf-var-avengers: "\B1E13";
$bf-var-batman: "\B1E14";
$bf-var-spiderman: "\B1E15";
$bf-var-transformers: "\B1E16";
$bf-var-mixcloud: "\B1E17";
$bf-var-modx: "\B1E18";
$bf-var-angellist: "\B1E19";
$bf-var-slack: "\B1E20";
$bf-var-gitlab: "\B1E21";
$bf-var-slideshare: "\B1E22";

// OMG

$bf-var-telegram-square: "\B1E71";
$bf-var-steam: "\B1E72";
$bf-var-steam-square: "\B1E73";
$bf-var-tencent-weibo: "\B1E74";
$bf-var-tencent-weibo-square: "\B1E75";
$bf-var-xing: "\B1E76";
$bf-var-xing-square: "\B1E77";
$bf-var-viadeo: "\B1E78";
$bf-var-viadeo-square: "\B1E79";
$bf-var-twitch: "\B1E80";
$bf-var-twitch-square: "\B1E81";
$bf-var-wikipedia: "\B1E82";
$bf-var-wikipedia-square: "\B1E83";
$bf-var-vimeo: "\B1E84";
$bf-var-vimeo-square: "\B1E85";
$bf-var-renren: "\B1E86";
$bf-var-renren-square: "\B1E87";
$bf-var-ravelry: "\B1E88";
$bf-var-ravelry-square: "\B1E89";
$bf-var-weibo: "\B1E90";
$bf-var-weibo-square: "\B1E91";
$bf-var-lastfm: "\B1E92";
$bf-var-lastfm-square: "\B1E93";
$bf-var-houzz: "\B1E94";
$bf-var-houzz-square: "\B1E95";
$bf-var-medium: "\B1E96";
$bf-var-medium-square: "\B1E97";
$bf-var-qq: "\B1E98";
$bf-var-qq-square: "\B1E99";

$bf-var-500px: "\B1F01";
$bf-var-500px-square: "\B1F02";
$bf-var-meetup: "\B1F03";
$bf-var-facebook: "\B1F04";
$bf-var-facebook-official: "\B1F05";
$bf-var-facebook-square: "\B1F06";
$bf-var-glide: "\B1F07";

$bf-var-glide-square: "\B1F09";


$bf-var-twitter: "\B1F12";

$bf-var-twitter-square: "\B1F14";
$bf-var-instagram: "\B1F15";
$bf-var-youtube-official: "\B1F16";
$bf-var-youtube: "\B1F17";
$bf-var-youtube-square: "\B1F18";
$bf-var-youtube-play: "\B1F19";
$bf-var-youtube-play-o: "\B1F20";
$bf-var-fiverr: "\B1F21";
$bf-var-fiverr-square: "\B1F22";
$bf-var-wechat: "\B1F23";
$bf-var-wechat-square: "\B1F24";
$bf-var-whatsapp: "\B1F25";
$bf-var-whatsapp-square: "\B1F26";
$bf-var-hike: "\B1F27";
$bf-var-hike: "\B1F28";
$bf-var-tumblr: "\B1F29";
$bf-var-tumblr-square: "\B1F30";
$bf-var-google-plus: "\B1F31";
$bf-var-google-plus-official: "\B1F32";

$bf-var-google-plus-square: "\B1F34";
$bf-var-pinterest-official: "\B1F35";
$bf-var-pinterest: "\B1F36";
$bf-var-pinterest-square: "\B1F37";
$bf-var-scribd: "\B1F38";
$bf-var-scribd-square: "\B1F39";
$bf-var-git: "\B1F40";
$bf-var-git-square: "\B1F41";
$bf-var-github-official: "\B1F42";
$bf-var-github: "\B1F43";
$bf-var-github-square: "\B1F44";

$bf-var-vevo: "\B1F46";
$bf-var-vevo-square: "\B1F47";
$bf-var-behance: "\B1F48";

$bf-var-behance-square: "\B1F50";
$bf-var-soundcloud: "\B1F51";
$bf-var-soundcloud-square: "\B1F52";
$bf-var-spotify: "\B1F53";
$bf-var-spotify-square: "\B1F54";
$bf-var-quora: "\B1F55";
$bf-var-quora-square: "\B1F56";
$bf-var-skype: "\B1F57";
$bf-var-skype-square: "\B1F58";
$bf-var-udemy: "\B1F59";
$bf-var-rss: "\B1F60";
$bf-var-rss-square: "\B1F61";
$bf-var-vk: "\B1F62";
$bf-var-vk-square: "\B1F63";
$bf-var-dribbble: "\B1F64";
$bf-var-dribbble-square: "\B1F65";
$bf-var-blogger: "\B1F66";
$bf-var-blogger-square: "\B1F67";
$bf-var-snapchat: "\B1F68";
$bf-var-snapchat-official: "\B1F69";
$bf-var-snapchat-square: "\B1F70";
$bf-var-stumbleupon: "\B1F71";
$bf-var-stumbleupon-official: "\B1F72";
$bf-var-stumbleupon-square: "\B1F73";
$bf-var-stack-overflow: "\B1F74";
$bf-var-stack-overflow-square: "\B1F75";
$bf-var-stack-exchange: "\B1F76";
$bf-var-stack-exchange-square: "\B1F77";
$bf-var-patreon: "\B1F78";
$bf-var-patreon-square: "\B1F79";
$bf-var-bandcamp: "\B1F80";
$bf-var-bandcamp-square: "\B1F81";
$bf-var-bitbucket: "\B1F82";
$bf-var-bitbucket-square: "\B1F83";
$bf-var-codepen: "\B1F84";
$bf-var-codepen-square: "\B1F85";
$bf-var-reddit: "\B1F86";
$bf-var-reddit-official: "\B1F87";
$bf-var-reddit-square: "\B1F88";
$bf-var-linkedin: "\B1F89";
$bf-var-linkedin-square: "\B1F90";
$bf-var-deviantart: "\B1F91";
$bf-var-deviantart-square: "\B1F92";
$bf-var-flickr: "\B1F93";
$bf-var-google-duo: "\B1F94";
$bf-var-google-duo-square: "\B1F95";
$bf-var-google-allo: "\B1F96";
$bf-var-google-allo-square: "\B1F97";
$bf-var-odnoklassniki: "\B1F98";
$bf-var-odnoklassniki-square: "\B1F99";

$bf-var-google-chrome: "\B2A01";
$bf-var-microsoft-edge: "\B2A02";
$bf-var-mozilla-firefox: "\B2A03";
$bf-var-internet-explorer: "\B2A04";
$bf-var-maxthon: "\B2A05";
$bf-var-opera: "\B2A06";
$bf-var-safari: "\B2A07";
$bf-var-tor: "\B2A08";
$bf-var-torch: "\B2A09";
$bf-var-uc: "\B2A10";

$bf-var-html: "\B2B01";
$bf-var-css: "\B2B02";
$bf-var-javascript: "\B2B03";
$bf-var-jquery: "\B2B04";
$bf-var-php: "\B2B05";
$bf-var-python: "\B2B06";
$bf-var-java: "\B2B07";
$bf-var-swift: "\B2B08";

$bf-var-android: "\B2C01";
$bf-var-windows: "\B2C02";
$bf-var-linux: "\B2C03";
$bf-var-ios: "\B2C04";
$bf-var-mac-os: "\B2C05";

$bf-var-visual-studio: "\B2D01";
$bf-var-android-studio: "\B2D02";
$bf-var-xcode: "\B2D03";
$bf-var-unity-engine: "\B2D04";
$bf-var-unreal-engine: "\B2D05";

$bf-var-adobe-aftereffects: "\B2E01";
$bf-var-adobe-audition: "\B2E02";
$bf-var-adobe-animate: "\B2E03";
$bf-var-adobe-illustrator: "\B2E04";
$bf-var-adobe-story: "\B2E05";
$bf-var-adobe-indesign: "\B2E06";
$bf-var-adobe-photoshop: "\B2E07";
$bf-var-adobe-premierepro: "\B2E08";
$bf-var-finalcut: "\B2E09";


$bf-var-file-pdf: "\B2F01";
$bf-var-file-word: "\B2F02";
$bf-var-file-excel: "\B2F03";
$bf-var-file-powerpoint: "\B2F04";
$bf-var-file-image: "\B2F05";
$bf-var-file-zip: "\B2F06";
$bf-var-file-video: "\B2F07";
$bf-var-file-code: "\B2F08";
$bf-var-finalcut: "\B2F09";

$bf-var-file-o: "\B2F11";
$bf-var-file: "\B2F12";
$bf-var-file-text-o: "\B2F13";
$bf-var-file-text: "\B2F14";
$bf-var-file-java: "\B2F15";

$bf-var-file-indesign: "\B2F21";
$bf-var-file-photoshop: "\B2F22";
$bf-var-file-illustrator: "\B2F23";
$bf-var-file-aftereffects: "\B2F24";
$bf-var-file-premierepro: "\B2F25";

$bf-var-paycard-visa: "\B3A01";
$bf-var-paycard-western-union:"\B3A02";
$bf-var-paycard-mastercard:"\B3A03";
$bf-var-paycard-discover:"\B3A04";
$bf-var-paycard-amex:"\B3A05";
$bf-var-paycard-paypal: "\B3A06";
$bf-var-paycard-stripe: "\B3A07";

$bf-var-paycard-jcb: "\B3A09";
$bf-var-paycard-diners-club: "\B3A10";
$bf-var-paycard-google-wallet: "\B3A11";
$bf-var-paycard-bitcoin:"\B3A12";
$bf-var-paycard-cash:"\B3A13";
$bf-var-paycard-credit-card-o: "\B3A14";
$bf-var-paycard-credit-card: "\B3A15";

$bf-var-eur: "\B3B01";
$bf-var-gbp: "\B3B02";
$bf-var-usd: "\B3B03";
$bf-var-inr: "\B3B04";
$bf-var-jpy: "\B3B05";
$bf-var-rub: "\B3B06";
$bf-var-krw: "\B3B07";
$bf-var-btc: "\B3B08";
$bf-var-try: "\B3B09";
$bf-var-ils: "\B3B10";
$bf-var-vnd: "\B3B11";
$bf-var-yuan: "\B3B12";
$bf-var-rs: "\B3B13";
$bf-var-thb: "\B3B14";

$bf-var-chevron-left: "\B3C01";
$bf-var-chevron-right: "\B3C02";
$bf-var-chevron-up: "\B3C03";
$bf-var-chevron-down: "\B3C04";
$bf-var-chevron-left-circle: "\B3C05";
$bf-var-chevron-right-circle: "\B3C06";
$bf-var-chevron-up-circle: "\B3C07";
$bf-var-chevron-down-circle: "\B3C08";
$bf-var-arrow-left: "\B3C09";
$bf-var-arrow-right: "\B3C10";
$bf-var-arrow-up: "\B3C11";
$bf-var-arrow-down: "\B3C12";
$bf-var-arrow-left-circle: "\B3C13";
$bf-var-arrow-right-circle: "\B3C14";
$bf-var-arrow-up-circle: "\B3C15";
$bf-var-arrow-down-circle: "\B3C16";
$bf-var-arrow-right-circle-o: "\B3C17";
$bf-var-arrow-left-circle-o: "\B3C18";

$bf-var-caret-down: "\B3C19";
$bf-var-caret-up: "\B3C20";
$bf-var-caret-left: "\B3C21";
$bf-var-caret-right: "\B3C22";
$bf-var-caret-sort: "\B3C23";
$bf-var-caret-left-square: "\B3C24";
$bf-var-caret-down-square: "\B3C25";
$bf-var-caret-up-square: "\B3C26";
$bf-var-caret-right-square: "\B3C27";

$bf-var-long-arrow-down: "\B3C28";
$bf-var-long-arrow-up: "\B3C29";
$bf-var-long-arrow-left: "\B3C30";
$bf-var-long-arrow-right: "\B3C31";
$bf-var-long-arrow-v: "\B3C32";
$bf-var-long-arrow-h: "\B3C33";

$bf-var-long-arrow-exchange: "\B3C35";

$bf-var-level-up: "\B3C37";
$bf-var-level-down: "\B3C38";
$bf-var-arrows: "\B3C39";
$bf-var-arrows-alt: "\B3C40";
$bf-var-angle-down: "\B3C41";
$bf-var-angle-up: "\B3C42";
$bf-var-angle-left: "\B3C43";
$bf-var-angle-right: "\B3C44";

$bf-var-angle-double-left: "\B3C46";
$bf-var-angle-double-right: "\B3C47";
$bf-var-angle-double-top: "\B3C48";
$bf-var-angle-double-bottom: "\B3C49";
$bf-var-map-signs: "\B3C50";

$bf-var-bar-graph: "\B3D01";
$bf-var-area-graph: "\B3D02";
$bf-var-line-graph: "\B3D03";
$bf-var-pie-chart: "\B3D04";
$bf-var-industry: "\B3D05";
$bf-var-table: "\B3D06";
$bf-var-sliders: "\B3D07";


$bf-var-pied-piper:"\B3E01";
$bf-var-commenting-o: "\B3E02";
$bf-var-commenting:"\B3E03";
$bf-var-comment-o:"\B3E04";
$bf-var-comment:"\B3E05";
$bf-var-comments-o:"\B3E06";
$bf-var-comments:"\B3E07";
$bf-var-birthday-cake:"\B3E08";
$bf-var-magic:"\B3E09";
$bf-var-gamepad:"\B3E10";
$bf-var-shield-o:"\B3E11";
$bf-var-shield:"\B3E12";
$bf-var-map-pin:"\B3E13";
$bf-var-newspaper:"\B3E14";
$bf-var-beer:"\B3E15";
$bf-var-shower:"\B3E16";
$bf-var-bath:"\B3E17";
$bf-var-coffee:"\B3E18";
$bf-var-cutlery:"\B3E19";
$bf-var-glass:"\B3E20";
$bf-var-music:"\B3E21";
$bf-var-building-o:"\B3E22";
$bf-var-building:"\B3E23";
$bf-var-tachometer:"\B3E25";
$bf-var-bed:"\B3E26";
$bf-var-code-fork:"\B3E27";
$bf-var-camera-retro:"\B3E28";
$bf-var-screen-cast:"\B3E29";

$bf-var-flag-o:"\B3F01";
$bf-var-flag-race: "\B3F02";
$bf-var-flag:"\B3F03";
$bf-var-flag-marathas: "\B3F04";
$bf-var-united-nations: "\B3F05";

$bf-var-smile: "\B4A01";
$bf-var-frown: "\B4A02";
$bf-var-meh: "\B4A03";
$bf-var-wow: "\B4A04";
$bf-var-happiness: "\B4A05";
$bf-var-smile-o: "\B4A06";
$bf-var-frown-o: "\B4A07";
$bf-var-meh-o: "\B4A08";
$bf-var-wow-o: "\B4A09";

$bf-var-hand-right-o: "\B4B01";
$bf-var-hand-left-o: "\B4B02";
$bf-var-hand-up-o: "\B4B03";
$bf-var-hand-down-o: "\B4B04";

$bf-var-hand-rock:"\B4B05";
$bf-var-hand-paper:"\B4B06";
$bf-var-hand-scissors:"\B4B07";
$bf-var-hand-lizard:"\B4B08";
$bf-var-hand-spock:"\B4B09";
$bf-var-hand-pointer:"\B4B10";
$bf-var-hand-peace:"\B4B11";
$bf-var-hand-victory:"\B4B12";
$bf-var-hand-shake:"\B4B13";
$bf-var-thumbs-up-o:"\B4B14";
$bf-var-thumbs-down-o:"\B4B15";
$bf-var-thumbs-up:"\B4B16";
$bf-var-thumbs-down:"\B4B17";
$bf-var-hand-rise:"\B4B18";

$bf-var-square:"\B4C01";
$bf-var-square-o:"\B4C02";
$bf-var-circle:"\B4C03";
$bf-var-circle-o:"\B4C04";
$bf-var-circle-ring:"\B4C05";
$bf-var-star:"\B4C06";
$bf-var-star-half:"\B4C07";
$bf-var-star-o:"\B4C08";
$bf-var-cube:"\B4C09";
$bf-var-cubes:"\B4C10";
$bf-var-diamond:"\B4C11";
$bf-var-certificate:"\B4C12";

$bf-var-globe: "\B4D01";
$bf-var-tree: "\B4D02";
$bf-var-tint: "\B4D03";
$bf-var-volt: "\B4D04";
$bf-var-sun: "\B4D05";
$bf-var-moon: "\B4D06";
$bf-var-bug: "\B4D07";
$bf-var-leaf: "\B4D08";
$bf-var-paw: "\B4D09";
$bf-var-leamon: "\B4D10";
$bf-var-fire: "\B4D11";
$bf-var-fire-sign: "\B4D12";
$bf-var-free-code-camp: "\B4D13";

$bf-var-horse: "\B4E01";
$bf-var-butterfly: "\B4E02";
$bf-var-tiger: "\B4E03";
$bf-var-elephant: "\B4E04";
$bf-var-bull: "\B4E05";
$bf-var-deer: "\B4E06";
$bf-var-tortoise: "\B4E07";
$bf-var-panda: "\B4E08";
$bf-var-ziraph: "\B4E09";
$bf-var-squirrel: "\B4E10";
$bf-var-rabbit-run: "\B4E11";
$bf-var-rabbit: "\B4E12";
$bf-var-fox: "\B4E13";
$bf-var-crocodile: "\B4E14";
$bf-var-goat: "\B4E15";
$bf-var-donkey: "\B4E16";
$bf-var-shark: "\B4E17";
$bf-var-penguin: "\B4E18";
$bf-var-kangaroo: "\B4E19";
$bf-var-duck: "\B4E20";
$bf-var-owl: "\B4E21";
$bf-var-monkey: "\B4E22";
$bf-var-sparrow: "\B4E23";
$bf-var-baby-elephant: "\B4E24";
$bf-var-egret: "\B4E25";
$bf-var-rhinoceros: "\B4E26";
$bf-var-cow: "\B4E27";
$bf-var-hipo: "\B4E28";
$bf-var-dog: "\B4E29";
$bf-var-fish: "\B4E30";

$bf-var-code: "\B4F01";
$bf-var-user-doctor: "\B4F02";
$bf-var-user-secret: "\B4F03";
$bf-var-football: "\B4F04";
$bf-var-rebel: "\B4F05";
$bf-var-soldier: "\B4F06";
$bf-var-balance-scale: "\B4F07";
$bf-var-graduation-cap: "\B4F08";
$bf-var-university: "\B4F09";
$bf-var-heartbeat: "\B4F10";
$bf-var-space-walk: "\B4F11";

$bf-var-exclamation-circle: "\B5A00";
$bf-var-play-circle: "\B5A01";
$bf-var-step-backward: "\B5A02";
$bf-var-fast-backward: "\B5A03";
$bf-var-backward: "\B5A04";
$bf-var-play: "\B5A05";
$bf-var-pause: "\B5A06";
$bf-var-stop: "\B5A07";
$bf-var-forward: "\B5A08";
$bf-var-fast-forward: "\B5A09";
$bf-var-step-forward: "\B5A10";
$bf-var-eject: "\B5A11";
$bf-var-exclamation-triangle: "\B5A12";
$bf-var-exclamation: "\B5A13";
$bf-var-info: "\B5A14";
$bf-var-random: "\B5A15";
$bf-var-question: "\B5A16";
$bf-var-heart: "\B5A17";
$bf-var-plus: "\B5A18";
$bf-var-minus: "\B5A19";
$bf-var-percent: "\B5A20";
$bf-var-asterisk: "\B5A21";
$bf-var-hashtag: "\B5A22";
$bf-var-superscript: "\B5A23";
$bf-var-subscript: "\B5A24";
$bf-var-at: "\B5A25";
$bf-var-copyright: "\B5A26";
$bf-var-window-minimize: "\B5A27";
$bf-var-expand: "\B5A28";
$bf-var-compress: "\B5A29";
$bf-var-vr: "\B5A30";

$bf-var-battery-empty: "\B5B01";
$bf-var-battery-quarter: "\B5B02";
$bf-var-battery-half: "\B5B03";
$bf-var-battery-three-quarters: "\B5B04";
$bf-var-battery-full: "\B5B05";
$bf-var-microphone: "\B5B06";
$bf-var-microphone-slash: "\B5B07";
$bf-var-bell-o: "\B5B08";
$bf-var-bell: "\B5B09";
$bf-var-bell-slash-o: "\B5B10";
$bf-var-bell-slash: "\B5B11";
$bf-var-volume-off: "\B5B12";
$bf-var-volume-down: "\B5B13";
$bf-var-volume-up: "\B5B14";
$bf-var-database: "\B5B15";
$bf-var-wifi: "\B5B17";
$bf-var-binoculars: "\B5B18";
$bf-var-plug: "\B5B19";
$bf-var-print: "\B5B20";
$bf-var-calculator: "\B5B21";
$bf-var-fax: "\B5B22";
$bf-var-signal: "\B5B23";
$bf-var-book: "\B5B24";
$bf-var-check: "\B5B25";
$bf-var-times: "\B5B26";
$bf-var-lock: "\B5B27";
$bf-var-unlock-alt: "\B5B28";
$bf-var-unlock: "\B5B29";
$bf-var-key: "\B5B30";
$bf-var-microchip: "\B5B31";
$bf-var-hdd: "\B5B32";
$bf-var-pencil-square-o: "\B5C01";
$bf-var-share-square-o: "\B5C02";
$bf-var-check-square-o: "\B5C03";
$bf-var-check-square: "\B5C04";
$bf-var-external-link-square: "\B5C06";
$bf-var-pencil-square: "\B5C07";
$bf-var-clone: "\B5C08";
$bf-var-clipboard: "\B5C09";
$bf-var-files-o: "\B5C10";
$bf-var-object-group: "\B5C11";
$bf-var-object-ungroup: "\B5C12";
$bf-var-font: "\B5C13";
$bf-var-bold: "\B5C14";
$bf-var-italic: "\B5C15";
$bf-var-text-height: "\B5C16";
$bf-var-text-width: "\B5C17";
$bf-var-align-left: "\B5C18";
$bf-var-align-center: "\B5C19";
$bf-var-align-right: "\B5C20";
$bf-var-align-justify: "\B5C21";
$bf-var-list: "\B5C22";
$bf-var-outdent: "\B5C23";
$bf-var-indent: "\B5C24";
$bf-var-paragraph: "\B5C25";
$bf-var-header: "\B5C26";
$bf-var-sort-alpha-asc: "\B5C27";
$bf-var-sort-alpha-desc: "\B5C28";
$bf-var-sort-amount-asc: "\B5C29";
$bf-var-sort-amount-desc: "\B5C30";
$bf-var-sort-numeric-asc: "\B5C31";
$bf-var-sort-numeric-desc: "\B5C32";
$bf-var-trash-o: "\B5C33";
$bf-var-trash: "\B5C34";
$bf-var-heart-o: "\B5C35";
$bf-var-quote-left: "\B5C36";
$bf-var-quote-right: "\B5C37";
$bf-var-eraser: "\B5C38";
$bf-var-strikethrough: "\B5C39";
$bf-var-underline: "\B5C40";
$bf-var-list-ul: "\B5C41";
$bf-var-list-ol: "\B5C42";
$bf-var-bars: "\B5C43";
$bf-var-ticket: "\B5C45";
$bf-var-power-off: "\B5C46";
$bf-var-i-cursor: "\B5C47";

$bf-var-circle-o-notch: "\B5D01";
$bf-var-cog: "\B5D02";
$bf-var-refresh: "\B5D03";
$bf-var-spinner: "\B5D04";
$bf-var-fidget-spinner: "\B5D05";
$bf-var-circled: "\B5D06";
$bf-var-ninga: "\B5D07";
$bf-var-cogs: "\B5D08";
$bf-var-shadow: "\B5D09";
$bf-var-snowflake: "\B5D10";
$bf-var-superpowers: "\B5D11";
$bf-var-crosshairs: "\B5D12";
$bf-var-encircle: "\B5D13";
$bf-var-wheel: "\B5D14";
$bf-var-empire: "\B5D15";
$bf-var-repeat: "\B5D16";
$bf-var-undo: "\B5D17";
$bf-var-clock-o: "\B5D18";
$bf-var-compass: "\B5D19";
$bf-var-bullseye: "\B5D20";
$bf-var-ban: "\B5D21";
$bf-var-recycle: "\B5D22";
$bf-var-ashok-chakra: "\B5D23";
$bf-var-guitar: "\B5D24";

$bf-var-hammer: "\B5E01";
$bf-var-gavel: "\B5E02";
$bf-var-scissors: "\B5E03";
$bf-var-paperclip: "\B5E04";
$bf-var-briefcase: "\B5E05";
$bf-var-fire-extinguisher: "\B5E06";
$bf-var-eyedropper: "\B5E07";
$bf-var-pencil: "\B5E08";
$bf-var-paint-brush: "\B5E09";
$bf-var-wrench: "\B5E10";
$bf-var-hourglass-o: "\B5E11";
$bf-var-hourglass-start: "\B5E12";
$bf-var-hourglass-half: "\B5E13";
$bf-var-hourglass-end: "\B5E14";
$bf-var-hourglass: "\B5E15";
$bf-var-sticky-note: "\B5E16";
$bf-var-sticky-note-o: "\B5E17";
$bf-var-bomb: "\B5E18";
$bf-var-umbrella: "\B5E19";
$bf-var-bulb: "\B5E20";
$bf-var-keypad: "\B5E21";
$bf-var-bullhorn: "\B5E22";
$bf-var-tasks: "\B5E23";
$bf-var-headphones: "\B5E24";
$bf-var-magnet: "\B5E25";
$bf-var-usb: "\B5E26";
$bf-var-flask: "\B5E27";
$bf-var-tv: "\B5E28";
$bf-var-pc: "\B5E29";
$bf-var-laptop: "\B5E30";
$bf-var-tablet: "\B5E31";
$bf-var-mobile: "\B5E32";
$bf-var-plus-circle: "\B5E33";
$bf-var-minus-circle: "\B5E34";
$bf-var-times-circle: "\B5E35";
$bf-var-check-circle: "\B5E36";
$bf-var-question-circle: "\B5E37";
$bf-var-info-circle: "\B5E38";
$bf-var-times-circle-o: "\B5E39";
$bf-var-check-circle-o: "\B5E40";
$bf-var-trophy: "\B5E41";
$bf-var-question-circle-o: "\B5E42";
$bf-var-love-circle: "\B5E43";
$bf-var-pause-circle-o: "\B5E44";
$bf-var-pause-circle: "\B5E45";
$bf-var-stop-circle-o: "\B5E46";
$bf-var-stop-circle: "\B5E47";
$bf-var-telegram: "\B5E48";
$bf-var-creative-commons: "\B5E49";
$bf-var-registered: "\B5E50";
$bf-var-trademark: "\B5E51";
$bf-var-archive: "\B5E52";
$bf-var-menu: "\B5E53";
$bf-var-menu-large: "\B5E54";
$bf-var-menu-list: "\B5E55";
$bf-var-filter: "\B5E56";
$bf-var-spoon: "\B5E57";
$bf-var-map-o: "\B5E58";
$bf-var-map: "\B5E59";
$bf-var-anchor: "\B5E60";
$bf-var-gift: "\B5E61";
$bf-var-suitcase: "\B5E62";
$bf-var-pin: "\B5E63";
$bf-var-axe: "\B5E64";
$bf-var-user-o: "\B5F01";
$bf-var-user-circle-o: "\B5F02";
$bf-var-user-circle: "\B5F03";
$bf-var-id-card-o: "\B5F04";
$bf-var-id-card: "\B5F05";
$bf-var-address-card: "\B5F06";
$bf-var-address-card-o: "\B5F07";
$bf-var-id-badge: "\B5F08";
$bf-var-envelope-o: "\B5F09";
$bf-var-envelope: "\B5F10";
$bf-var-envelope-open: "\B5F11";
$bf-var-envelope-open-o: "\B5F12";
$bf-var-users: "\B5F13";
$bf-var-user: "\B5F14";
$bf-var-puzzle-piece: "\B5F15";
$bf-var-link: "\B5F16";
$bf-var-chain-broken: "\B5F17";
$bf-var-location-arrow: "\B5F18";
$bf-var-paper-plane-o: "\B5F19";
$bf-var-paper-plane: "\B5F20";
$bf-var-address-book: "\B5F21";
$bf-var-address-book-o: "\B5F22";

$bf-var-toggle-off: "\B5F24";
$bf-var-toggle-on: "\B5F25";
$bf-var-barcode: "\B5F26";
$bf-var-podcast: "\B5F27";
$bf-var-cart-plus: "\B5F28";
$bf-var-shopping-cart: "\B5F29";
$bf-var-cart-arrow-down: "\B5F30";
$bf-var-shopping-bag: "\B5F31";
$bf-var-shopping-basket: "\B5F32";
$bf-var-bluetooth: "\B5F33";
$bf-var-bluetooth-official: "\B5F34";
$bf-var-cloud-upload: "\B5F36";
$bf-var-cloud-download: "\B5F37";
$bf-var-cloud: "\B5F38";
$bf-var-share-square: "\B5F39";
$bf-var-share-alt: "\B5F40";
$bf-var-share-alt-square: "\B5F41";
$bf-var-video-camera: "\B5F42";
$bf-var-film: "\B5F43";
$bf-var-camera: "\B5F44";
$bf-var-picture: "\B5F45";
$bf-var-mouse-pointer: "\B5F46";
$bf-var-crop: "\B5F47";
$bf-var-qrcode: "\B5F48";
$bf-var-history: "\B5F49";
$bf-var-home: "\B5F50";
$bf-var-bookmark: "\B5F52";
$bf-var-bookmark-o: "\B5F53";
$bf-var-sitemap: "\B5F54";
$bf-var-search-alt: "\B5F55";
$bf-var-search: "\B5F56";
$bf-var-retweet: "\B5F57";
$bf-var-search-plus: "\B5F58";
$bf-var-search-minus: "\B5F59";
$bf-var-ellipsis-h: "\B5F60";
$bf-var-ellipsis-v: "\B5F61";
$bf-var-eye: "\B5F62";
$bf-var-eye-slash: "\B5F63";
$bf-var-tag: "\B5F64";
$bf-var-tags: "\B5F65";
$bf-var-inbox: "\B5F66";
$bf-var-envelope-square: "\B5F68";
$bf-var-reply-all: "\B5F69";
$bf-var-upload: "\B5F70";
$bf-var-download: "\B5F71";
$bf-var-sign-out: "\B5F72";
$bf-var-sign-in: "\B5F73";
$bf-var-user-plus: "\B5F74";
$bf-var-user-times: "\B5F75";
$bf-var-circled-circle: "\B5F76";
$bf-var-phone: "\B5F77";
$bf-var-phone-square: "\B5F78";
$bf-var-save: "\B5F79";
$bf-var-save-all: "\B5F80";
$bf-var-eye-scan: "\B5F81";
$bf-var-radio: "\B5F82";
$bf-var-share: "\B5F83";
$bf-var-reply: "\B5F84";

$bf-var-genderless: "\B6B01";
$bf-var-mars: "\B6B02";
$bf-var-mars-double: "\B6B03";
$bf-var-mars-stroke: "\B6B04";
$bf-var-mars-stroke-h: "\B6B05";
$bf-var-mars-stroke-v: "\B6B07";
$bf-var-mercury: "\B6B08";
$bf-var-neuter: "\B6B09";
$bf-var-transgender: "\B6B10";
$bf-var-transgender-alt: "\B6B11";
$bf-var-venus: "\B6B12";
$bf-var-venus-double: "\B6B13";
$bf-var-venus-mars: "\B6B14";
$bf-var-male: "\B6B15";
$bf-var-female: "\B6B16";
$bf-var-child: "\B6B17";
$bf-var-couple: "\B6B18";
$bf-var-mother: "\B6B19";
$bf-var-father: "\B6B20";
$bf-var-family: "\B6B21";

$bf-var-stethoscope: "\B6C01";
$bf-var-thermometer-full: "\B6C02";
$bf-var-thermometer-three-quarters: "\B6C03";
$bf-var-thermometer-half: "\B6C04";
$bf-var-thermometer-quarter: "\B6C05";
$bf-var-thermometer-empty: "\B6C06";
$bf-var-medical-kit: "\B6C07";
$bf-var-ambulance: "\B6C08";
$bf-var-h-square: "\B6C09";
$bf-var-hospital: "\B6C10";

$bf-var-bicycle: "\B6D01";
$bf-var-car: "\B6D02";
$bf-var-taxi: "\B6D03";
$bf-var-bus: "\B6D04";
$bf-var-plane: "\B6D05";
$bf-var-train: "\B6D06";
$bf-var-subway: "\B6D07";
$bf-var-space-shuttle: "\B6D08";
$bf-var-ship: "\B6D09";
$bf-var-truck: "\B6D10";
$bf-var-fighter-jet: "\B6D11";
$bf-var-motorcycle: "\B6D12";
$bf-var-rocket: "\B6D13";

$bf-var-calendar-blank: "\B6E01";
$bf-var-calendar-check: "\B6E02";
$bf-var-calendar-times: "\B6E03";
$bf-var-calendar-plus: "\B6E04";
$bf-var-calendar-minus: "\B6E05";
$bf-var-calendar: "\B6E06";
$bf-var-folder-o: "\B6E07";
$bf-var-folder-open-o: "\B6E08";
$bf-var-folder: "\B6E09";
$bf-var-folder-open: "\B6E10";

$bf-var-columns: "\B6E11";
$bf-var-window-restore: "\B6E14";
$bf-var-window-maximize: "\B6E15";
$bf-var-window-close-o: "\B6E16";
$bf-var-window-close: "\B6E17";
$bf-var-list-alt: "\B6E18";
$bf-var-minus-square: "\B6E19";
$bf-var-minus-square-o: "\B6E20";
$bf-var-plus-square: "\B6E21";
$bf-var-plus-square-o: "\B6E22";
$bf-var-external-link: "\B6E23";
$bf-var-american-sign-language: "\B6F01";
$bf-var-assistive-listening-systems: "\B6F02";
$bf-var-audio-description: "\B6F03";
$bf-var-blind: "\B6F04";
$bf-var-braille: "\B6F05";
$bf-var-cc: "\B6F06";
$bf-var-deaf: "\B6F07";
$bf-var-low-vision: "\B6F08";
$bf-var-road: "\B6F09";
$bf-var-sign-language: "\B6F10";
$bf-var-universal-access: "\B6F11";
$bf-var-tty: "\B6F12";
$bf-var-volume-control-phone: "\B6F13";
$bf-var-wheelchair-alt: "\B6F14";
$bf-var-wheelchair: "\B6F15";
$bf-var-map-marker: "\B6F16";
$bf-var-street-view: "\B6F17";
$bf-var-language: "\B6F18";
$bf-var-server: "\B6F19";
$bf-var-indian: "\B6F20";
$bf-var-russian: "\B6F21";
$bf-var-unitedstates: "\B6F22";
$bf-var-swis: "\B6F23";
$bf-var-german: "\B6F24";
$bf-var-chinese: "\B6F25";
$bf-var-british: "\B6F26";
$bf-var-japanese: "\B6F27";

// END

